body {
    width: 100%;
    height: 100vh;
    /* color: #b9b9b9; */
    color: #333030;
}

.backbutton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-outline-primary {
    --bs-btn-color: #0dcaf0 !important;
    --bs-btn-border-color: #0dcaf0 !important;
    --bs-btn-hover-bg: #0bb6d0 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-active-bg: #00576f !important;
    --bs-btn-active-border-color: #0686a3 !important;
}

.hidden {
    display:none;
}

.form {
    height: 100vh;
}

/*.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 28%;
    height: 45%;
    align-items: center;
}*/
.modal-content {
    height:60%;
}
    .form-control {
    height: 54px !important;
    box-shadow: none;
    border-width: 2px;
    border-radius: 8px !important; /* Sadly outline does not round! therefore...*/
    width: 100%;
}

    .form-control:focus {
        outline: none !important; /* Remove default outline and use border or box-shadow */
        box-shadow: 0 0 0 1px #0dcaf0 !important; /* Full freedom. (works also with border-radius) */
    }

.floatingInput:focus {
    color: #0dcaf0 !important;
}
.exclamation {
    display: flex;
    width: 70px;
    height: 70px;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #F5AE00 !important;
    margin-bottom: 15px;
    margin-top: 40px;
}

.btn-primary {
    width: 50px;
    --bs-btn-color: #cffeff !important;
    --bs-btn-bg: #00aee3 !important;
    --bs-btn-hover-bg: #008594 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-active-bg: #008594 !important;
    display: flex;
    justify-content: center;
}

.close {
    display: flex;
    justify-content: center;
}

/* .content{
    height: 100vh;
} */
/*.floating-input {
    color: rgb(205, 46, 46) !important;
}*/

.text-area {
    height: 140px !important;
}

/*.color {
    color: #0dcaf0 !important;
}*/

.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    --bs-btn-active-bg: #00576f !important;
    --bs-btn-active-border-color: #0686a3 !important;
}

.inputUpload {
    border:none;
    border-radius:5px;
    flex-basis: 85%;
    background-color: #f0f0f0;
    padding: 10px;
    height: 50px;
    /* width: 100%; */
}

.uploadButton {
    border: none;
    border-radius: 5px;
    flex-basis: 15%;
    /*background-color: #0dcaf0;*/
    background-color: #0dcaf0;
    padding: 10px;
    /*border-radius: 5px;*/
    height: 50px;
    /*border: 1px solid #0dcaf0;*/
}

.button {
    color: white;
}

.submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* 
.btn.btn-primary {
    --bs-btn-bg: #0dcaf0 !important;
} */

.footer {
    background-color: rgb(38, 38, 38);
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
}

.iti {
    width: 100%;
    height: (3.5rem + calc(var(--bs-border-width) * 2));
}

.phone {
    height: 58px;
}

.uremail {
    height: 58px;
}

.hotelname {
    height: 58px;
}

.casenumber {
    height: 58px;
}

.btn-outline-pri {
    color: #0bb6d0;
    border: 1px solid #0bb6d0;
}

    .btn-outline-pri:hover {
        background-color: #0bb6d0;
        color: #fff;
    }

    .btn-outline-pri:active {
        background-color: #00576f;
        color: #0686a3;
    }

    /*map in menu,someoneelse and profile page */
/*.modal {
    display: none;
    position: fixed;
    z-index: 1;*/
    /*/ padding-top: 100px;
    / left: 0;*/
    /*top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
    margin-top: 200px;
}*/

.close {
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: #00ccff;
    text-align: center;
    border-radius: 5px;
    width: 70px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    / text-justify: auto;
    /
}

    .close:hover,
    .close:focus {
        / color: #000;
        / text-decoration: none;
        cursor: pointer;
        background-color: #01b4e0;
    }

/*map*/
.map-verify-btn {
    display: flex;
    margin-bottom: 25px;
}

.back-navigation-link {
    text-decoration: none;
    color: #00ccff;
    font-weight: 400;
    cursor: pointer;
    font-size: 17px;
    text-align: right;
    border: 1px solid #00ccff;
    padding: 5px;
    padding-right: 15px;
    border-radius: 10px;
    height: 46px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
    /* margin-left:-100px ; */
}

    .back-navigation-link:hover {
        color: #00ccff;
    }

.back-navigation {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: #00ccff;
    /*display:flex;*/
}

.btn-text {
    font-size: 15px;
}

.back-icon {
    font-weight: 900;
}

  
@media only screen and (max-width:770px) {
    .inputUpload {
        flex-basis: 75%;
    }

    .uploadButton {
        flex-basis: 25%;
    }
}

@media only screen and (max-width:456px) {
    .inputUpload {
        flex-basis: 65%;
    }

    .uploadButton {
        flex-basis: 35%;
    }

    /*.modal-dialog {
        margin: 26px !important;
    }*/
    .map{
        height:44px!important;
    }
}

@media only screen and (max-width:364px) {
    .inputUpload {
        flex-basis: 50%;
    }

    .uploadButton {
        flex-basis: 50%;
    }

    /*.modal-dialog {
        margin: 26px !important;
    }*/
}
