body {
    height: 100%;
}

.parent-div {
    height: 100%;
}

.container {
    /*width: 432px;*/
    width: 100%;
    height: 100%;
}

.bg-img {
    opacity: 0.1;
    filter: blur(2px);
    position: absolute;
    top: 0;
    width: 800px;
    height: 100%;
    max-width: 100%;
    align-self: center;
    margin: auto;
    display: flex;
}

.outerform {
    z-index: 2;
}

.patientsite {
    width: 220px !important;
    height: 170px;
}

.form-control {
    padding: 4px 8px;
    border-radius: 8px; /* Sadly outline does not round! therefore...*/
}

    .form-control:focus {
        outline: none; /* Remove default outline and use border or box-shadow */
        box-shadow: 0 0 0 2px #0dcaf0; /* Full freedom. (works also with border-radius) */
    }

.profile {
    position: absolute;
    top: 20px;
    right: 16px;
    width: 20px;
    height: 20px;
    z-index: 2;
}

.eye {
    position: absolute;
    top: 15px;
    right: 22px;
    width: 20px;
    height: 20px;
}

.btn {
    background-color: #0dcaf0;
    color: #fff;
    text-decoration: none;
}

.back {
    color: #00aee3;
    margin-left: 20%;
}

.nightmode {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #0dcaf0;
    padding: 5px;
    height: 45px;
    width: 50px;
}

.email {
    margin-left: 20%;
    margin-right: 20%;
}

#email {
    background-color: transparent;
}

.password {
    margin-left: 20%;
    margin-right: 20%;
}

#password {
    background-color: transparent;
}

@media (max-width: 430px) {
    .email {
        margin-left: 0;
        margin-right: 0;
    }

    .password {
        margin-left: 0;
        margin-right: 0;
    }
}
