/* .nightmode {
    margin-right: 20px;
    position: absolute;
    top: 20px;
    right: 0;
} */
.patientsite {
    height: 65px;
    margin-left: 30px;
}

.navBar {
    background-color: #fff !important;
}
/*
.nav {
    display: flex;
     justify-content: space-between; 
    align-items: center;
}*/

.logoutbutton {
    height: 38px;
    --bs-btn-hover-bg: #0bb6d0 !important;
}

.darkmode {
    background-color: white;
    border-radius: 5px;
    border-color: #0dcaf0;
    padding: 5px;
    height: 37px;
    width: 50px;
}

.btn-outline-primary {
    --bs-btn-color: #0dcaf0 !important;
    --bs-btn-border-color: #0dcaf0 !important;
    --bs-btn-hover-bg: white !important;
    --bs-btn-hover-color: #008b9b !important;
    --bs-btn-hover-border-color: #008b9b !important;
    --bs-btn-active-bg: #00576f !important;
    --bs-btn-active-border-color: #0686a3 !important;
}

.btn-primary {
    /* width: 50px; */
    --bs-btn-color: #cffeff !important;
    --bs-btn-bg: #0dcaf0 !important;
    --bs-btn-hover-bg: #008594 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-active-bg: #008594 !important;
}

.navdash {
    margin-left: 36px;
    padding-left: 20px;
    padding-right: 20px;
    /* color: #6c757d!important;
    --bs-nav-link-color: #0dcaf0!important;
    --bs-nav-link-hover-color: #00576f!important;
    --bs-nav-link-disabled-color: #6c757d!important; */
}

.navbar-nav {
    --bs-nav-link-hover-color: #0dcaf0 !important;
}

.navbar {
    background-color: #fff !important;
}

/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 28%;
    height: 45%;
    align-items: center;
} */
.modal-header {
    background-color: #0dcaf0;
    /* background-color: #0dcaf0; */
}

.modal-title {
    color: #cffeff;
}

.btn-close {
    color: #cffeff;
}

.bigdiv {
    background-color: #f2f2f2;
}
/* .htable{
    height: 50px;
    align-items: center;
} */

thead{
    width:100%;
    display:inline-block;
}
tr {
    width: 100%;
    display:inline-block;
}
th {
    width:33.33%;
}
.history {
    background-color: #fff;
    border-radius: 10px;
}

@media only screen and (max-width:768px) {
    .navbar-collapse {
        display: block!important;
    }
}
    @media only screen and (max-width:530px) {
        .patientsite {
            height: 45px;
        }
        .circle{
            display:flex;
            justify-content:center;
            align-items:center;
            border:1px solid #0bb6d0;
            border-radius:50%;
            border-color:#0dcaf0;
        }
        .plus {
            height:35px;
            width:35px;
            display:flex;
            justify-content:center;
            align-items:center;
            border: 1px solid #0bb6d0;
            background-color:white;
            border-radius:5px;
        }
        .blacktext {
            color: black!important;
        }
        .accordian-button{
            background-color:#80fff3!important;
        }
            .accordian-button:focus {
                background-color:#445b58!important;
            }

            .shortnav {
                height: 36px;
                width: 36px;
                border: 1px solid #0bb6d0 !important;
                color: #0bb6d0 !important;
                background-color: white;
            }

        .horizontal-line {
            display: none;
        }

        .togglelogout {
            display: none;
        }
        /*.navbarToggler {
        display:block;
        height:25px;
        width:25px;
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid aqua;
        border-radius: 0.25rem;
        position: absolute;
        top: 0;
        left: 0;
    }*/
        .navbarToggler {
            background-color: transparent;
            height: 36px;
            width: 36px;
            color: #0bb6d0;
            border: 1px solid #0bb6d0;
            border-radius: 7px;
            padding: 6px;
            margin-left: 20px;
            margin-right: 6px;
            display: block;
        }
    }
