.patientsite {
    width: 231px !important;
    height: 105px;
}
.textdeco{
    text-decoration:none;
}
.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    --bs-btn-active-bg: #00576f !important;
    --bs-btn-active-border-color: #0686a3 !important;
}

.inputUpload {
    border: none;
    border-radius: 5px;
    flex-basis: 85%;
    background-color: #f0f0f0;
    padding: 10px;
    height: 50px;
    /* width: 100%; */
}


.uploadButton {
    border: none;
    border-radius: 5px;
    flex-basis: 15%;
    /*background-color: #0dcaf0;*/
    background-color: #0dcaf0;
    padding: 10px;
    /*border-radius: 5px;*/
    height: 50px;
    /*border: 1px solid #0dcaf0;*/
}

.backbutton {
    border: 1px solid #0dcaf0;
    background-color: white!important;
    border-radius: 5px;
}
/*.textback {
    color: #0dcaf0!important;
}*/

/*map css*/
.square {
    background-color: white;
    height: 10px;
    width: 10px;
}

.file-icon {
    position: relative;
    padding-left: 24px;
}

    .file-icon:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 16px;
        width: 16px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .file-icon.pdf:before {
        background-image: url("~/SRS Screen Shorts/PDFIcon.png");
    }

    .file-icon.doc:before {
        background-image: url("~/SRS Screen Shorts/docimg.png");
    }

    .file-icon.jpg:before {
        background-image: url("~/SRS Screen Shorts/jpgimg.png");
    }

.filename {
    display: inline-block;
    vertical-align: middle;
    margin-left: -24px;
}
/*map css end*/