.patientsite {
    width: 231px !important;
    height: 105px;
}
.textdeco{
    text-decoration:none;
}
.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    --bs-btn-active-bg: #00576f !important;
    --bs-btn-active-border-color: #0686a3 !important;
}

.inputUpload {
    border: none;
    border-radius: 5px;
    flex-basis: 85%;
    background-color: #f0f0f0;
    padding: 10px;
    height: 50px;
    /* width: 100%; */
}

.iconimg {
    height: 40px;
    width: 40px;
}

.uploadButton {
    border: none;
    border-radius: 5px;
    flex-basis: 15%;
    /*background-color: #0dcaf0;*/
    background-color: #0dcaf0!important;
    /*padding: 10px;*/
    /*border-radius: 5px;*/
    height: 50px;
    /*border: 1px solid #0dcaf0;*/
}

.backbutton {
    border: 1px solid #0dcaf0;
    background-color: white!important;
    border-radius: 5px;
}
/*.textback {
    color: #0dcaf0!important;
}*/

/*map css*/
.square {
    background-color: white;
    height: 10px;
    width: 10px;
}

.file-icon {
    position: relative;
    padding-left: 24px;
}

    .file-icon:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 16px;
        width: 16px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .file-icon.pdf:before {
        background-image: url("~/SRS Screen Shorts/PDFIcon.png");
    }

    .file-icon.doc:before {
        background-image: url("~/SRS Screen Shorts/docimg.png");
    }

    .file-icon.jpg:before {
        background-image: url("~/SRS Screen Shorts/jpgimg.png");
    }

.filename {
    display: inline-block;
    vertical-align: middle;
    margin-left: -24px;
}
/*map css end*/

/*for header and navbar of admin view upload*/
.navigation-bar-top {
    height: 80px;
    background-color: white;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.navigation-bar-top-2 {
    height: 80px;
    background-color: white;
    flex-direction: row;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

#sidebar {
    width: 260px;
    height: 100vh;
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.logo-and-hamburger {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: none;
}
.logo {
    height: 5rem;
    width: 9rem;
    align-self: center;
    margin-left: 10px;
}
.tab-2 {
    overflow: hidden;
    border-bottom: 3px solid #ededed;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}

    .tab-2 button {
        background-color: inherit;
        align-self: center;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        margin-top: 15px;
        margin-left: 0px;
        width: 167px;
        border: 1px solid transparent;
        border-radius: 10px;
    }

        .tab-2 button:hover {
            background-color: #ddd;
        }

        .tab-2 button.active {
            background-color: transparent;
            color: white;
            border: 2px solid #00ccff;
            border-radius: 10px;
            font-weight: 500;
        }
.tablinks {
    margin-right: 10px;
}
.welcome-title {
    font-size: 16px;
    color: rgb(104, 104, 104);
    margin-right: 5px;
    margin-top: 2px;
}
.name-title {
    font-weight: 600;
    font-size: 19px;
    margin-right: 10px;
}
.back-navigation-link-2 {
    text-decoration: none;
    color: #00ccff;
    font-weight: 400;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    border: 1px solid #00ccff;
    padding: 5px;
    border-radius: 6px;
    height: 46px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}
.back-navigation {
    margin-left: 5px;
    margin-right: 5px;
}
.logout-icon {
    display: none;
    color: black;
    margin-right: 10px;
}
.change-theme {
    border: none;
    background-color: transparent;
}
.hide-icon {
    display: none;
}
.relativePhone{
    position:absolute!important;
    top:18px!important;
    right:20px!important;
}
/*edit,save,cancel*/
#submit-button-2, #submit-button-4 {
    text-decoration: none;
    border:1px solid #0dcaf0;
    background-color: #0dcaf0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}

#edit-div {
    display: flex;
    justify-content: end;
    color: white;
    background-color: #00ccff;
    border: 1px solid #0dcaf0;
    border-radius:6px;
}
#submit-button-3 {
    text-decoration: none;
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #00ccff;
    font-weight: 500;
    border-radius: 6px;
}
#close-case-button {
    border: 1px solid #0dcaf0;
    border-radius: 6px;
    color: white;
    padding:5px;
    text-decoration:none;
}
.hide {
    display: none;
}
.form-button {
    height: 50px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    / background-color: red;
    / justify-content: end;
    / position: absolute;
    / / right: 20px;
    / align-items: center;
    / border-radius: 10px;
    /
}