@{
    ViewData["Title"] = "Patient-Site";
}
@model HalloDoc.DataLayer.ViewModels.CreateNewPassword;
@section Styles {
    <link href="~/css/resetPassword.css" rel="stylesheet" type="text/css" />
    <link href="~/css/patientsite.css" rel="stylesheet" type="text/css" />
}
@section script {
    <script src="~/js/hideeye.js"></script>
}
<div id="body" style="height: 100%;">
    <partial name="Toast" />
    <div id="main-div">
        <div class="right-div">
            <button onclick="changeTheme()" class="change-theme">
                <!-- <i class="bi bi-brightness-high"></i> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-moon night-mode-icon" viewBox="0 0 16 16">
                    <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                </svg>
            </button>
            <button onclick="changeTheme()" class="change-theme hide-icon">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-brightness-high night-mode-icon" viewBox="0 0 16 16">
                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
                </svg>
            </button>
            <img class="logo" src="~/SRS Screen Shorts/Fig56. Patient site 1.png" alt="">
            <img class="demo-bg" src="~/SRS Screen Shorts/11116016_415.jpg" alt="">

            <div class="login-div">
                <div class="content d-flex justify-content-center align-items-center flex-column mt-5">
                    <a asp-controller="Login" asp-action="submitrequest" style="text-decoration:none;">
                        @* <button type="button" class="submit-request btn btn-primary btn-lg mb-4  mt-5 ">
                            <strong>Submit A Request</strong>
                        </button> *@
                        <div class="login-button-parent mb-3 ">
                            <button type="submit" class="submit-request btn btn-primary btn-lg mb-4  mt-5 "><span>Submit A Request</span></button>
                            @* <button type="submit" style="border: none;" class="login-button"><span>Submit A Request</span></button> *@
                        </div>
                    </a>
                    <a asp-controller="Login" asp-action="patientLogin" style="text-decoration:none;">
                        @* <button type="button" class="submit-request btn btn-primary btn-lg mb-3  ">
                            <strong>Submit A Request</strong>
                        </button> *@
                        <div class="login-button-parent mb-3 ">
                            <button type="button" class="submit-request btn btn-primary btn-lg mb-3  ">
                                <span>Registered Patients</span>
                            </button>
                            @* <button type="submit" style="border: none;" class="login-button"><span>Registered Patients</span></button> *@
                        </div>
                    </a>
                </div>
                <div class="t-and-c">
                    <span class="tnc-text">Terms of Conditions</span>
                    <span>|</span>
                    <span class="tnc-text">Privacy Policy</span>
                </div>
            </div>
        </div>
    </div>
    <script>

        window.onload = function checkingTheme() {
            try {
                let themeCheck = localStorage.getItem('theme');
                if (themeCheck == null || themeCheck == 'light') {
                    document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
                    document.getElementById('body').style.backgroundColor = "#f5f5f5";
                    document.getElementsByClassName('t-and-c')[0].style.color = "gray";
                    document.getElementsByClassName('demo-bg')[0].style.display = "flex";
                    document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
                    document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
                } else {
                    document.getElementById('main-div').style.backgroundColor = "black";
                    document.getElementById('body').style.backgroundColor = "black";
                    document.getElementsByClassName('t-and-c')[0].style.color = "white";
                    document.getElementsByClassName('demo-bg')[0].style.display = "none";
                    document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
                    document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
                }
            } catch (error) {
                console.log('no themes decided yet');
            }
        }
        function changeTheme() {
            let theme = localStorage.getItem('theme');
            if (theme == null || theme == 'light') {
                localStorage.setItem('theme', 'dark');
                // console.log('theme changed to dark');
                document.getElementById('main-div').style.backgroundColor = "black";
                document.getElementById('body').style.backgroundColor = "black";
                document.getElementsByClassName('login-title')[0].style.color = "white";
                document.getElementsByClassName('t-and-c')[0].style.color = "white";
                document.getElementsByClassName('demo-bg')[0].style.display = "none";
                document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
            } else if (theme == 'dark') {
                localStorage.setItem('theme', 'light');
                // console.log('theme changed to light');
                document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
                document.getElementById('body').style.backgroundColor = "#f5f5f5";
                document.getElementsByClassName('login-title')[0].style.color = "black";
                document.getElementsByClassName('t-and-c')[0].style.color = "gray";
                document.getElementsByClassName('demo-bg')[0].style.display = "flex";
                document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
            }
            console.log(theme);
        }
    </script>

</div>













@* @{
    ViewData["Title"] = "Patient-Site";
}
@section Styles {
    <link href="~/css/patientsite.css" rel="stylesheet" type="text/css" />
}

    <div class="container d-flex align-items-center flex-column ">
        <img src="~/SRS Screen Shorts/11116016_415.jpg" class="bg-img img-fluid">
        <header class="header d-flex justify-content-center align-items-center">
            <div class="nightmode">
                <button onclick="myFunction()" class="darkmode">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" fill="#00aee3" class="bi bi-moon"
                         viewBox="0 0 16 16">
                        <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                    </svg>
                </button>
            </div>
            <img src="~/SRS Screen Shorts/Fig56. Patient site 1.png" class="patientsite">
        </header>
        <div class="content d-flex justify-content-center align-items-center flex-column mt-5">
            <a asp-controller="Login" asp-action="submitrequest">
                <button type="button" class="submit-request btn btn-primary btn-lg mb-4  mt-5 ">
                    <strong>Submit A Request</strong>
                </button>
            </a>
             <a asp-controller="Login" asp-action="patientLogin">
            <button type="button" class="submit-request btn btn-primary btn-lg mb-3  ">
                <strong>Registered Patients</strong>
            </button>
            </a>
        </div>
        <footer class="content mb-0 text-center bottom-0 ">
            <p><span class="toc ">Terms of Conditions</span>|<span class="pp">Privacy Policy</span></p>
        </footer>
    </div>
 *@