@{
    ViewData["Title"] = "ResetPassword";
}
@model HalloDoc.DataLayer.ViewModels.CreateNewPassword;

@section Styles {
    <link href="~/css/resetPassword.css" rel="stylesheet" type="text/css" />
}
@section script {
    <script src="~/js/hideeye.js"></script>
}
<div id="body" style="height: 100%;">
    <partial name="Toast" />
    <div id="main-div">
        <div class="right-div">
            <button onclick="changeTheme()" class="change-theme">
                <!-- <i class="bi bi-brightness-high"></i> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-moon night-mode-icon" viewBox="0 0 16 16">
                    <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                </svg>
            </button>
            <button onclick="changeTheme()" class="change-theme hide-icon">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-brightness-high night-mode-icon" viewBox="0 0 16 16">
                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
                </svg>
            </button>
            <img class="logo" src="~/SRS Screen Shorts/Fig56. Patient site 1.png" alt="">
            <img class="demo-bg" src="~/SRS Screen Shorts/11116016_415.jpg" alt="">

            <div class="login-div">

                <a href="onLogin.html" class="back-navigation-link">
                    <div class="back-navigation">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-chevron-left back-icon" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                        </svg>
                        <span>Back</span>
                    </div>
                </a>
                <h1 class="login-title">Reset Password</h1>
                <form id="myForm" asp-action="ResetPasswordFromEmail" asp-controller="Login" method="post">
                    <div class="form-floating login-fields">
                        <input type="text" style="display:none;" asp-for="email" id="email" value="1" />
                        <input type="text" style="display:none;" asp-for="token" id="token"/>
                        <input type="text" style="display:none;" asp-for="Date" id="date" value="1" />

                        <input type="password" class="form-control" id="password" placeholder="Password" asp-for="password" />
                        <label for="floatingPassword">Password</label>
                        <!-- <button class="person-icon"> -->

                        <svg onclick="onpress()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-eye person-icon hide-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                        </svg>
                        <!-- </button> -->
                        <!-- <button class="person-icon"> -->


                        <svg onclick="onpress()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-eye-slash  person-icon" viewBox="0 0 16 16">
                            <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                            <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                            <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                        </svg>
                        <!-- </button> -->
                    </div>

                    <div class="form-floating login-fields">
                        <input type="password" class="form-control" onblur="validate()" id="retype_password" placeholder="Password">
                        <label for="floatingPassword">Confirm Password</label>
                        <!-- <button class="person-icon"> -->

                        <svg onclick="onpresss()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-eye person-icon hide-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                        </svg>
                        <!-- </button> -->
                        <!-- <button class="person-icon"> -->


                        <svg onclick="onpresss()" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-eye-slash  person-icon" viewBox="0 0 16 16">
                            <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                            <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                            <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                        </svg>
                        <!-- </button> -->
                    </div>
                    <div class="login-button-parent">
                        <button type="submit" style="border: none;" class="login-button"><span>Reset</span></button>
                        <!-- <button class="login-button"><span>Log In</span></button> -->
                        <a asp-action="patientLogin" asp-controller="Login" class="forgot-password">Go To Login Page</a>
                    </div>
                </form>
                <div class="t-and-c">
                    <span class="tnc-text">Terms of Conditions</span>
                    <span>|</span>
                    <span class="tnc-text">Privacy Policy</span>
                </div>
            </div>
        </div>
    </div>
    <script>
        const url = window.location.href;
        const datePart = url.split("&date=")[1];
        const date = datePart.split("%")[0];
        const time = datePart.split("%")[1];
        let datetime = date + " " + time;
        document.getElementById('date').value = date;
        const emailPart1 = url.split("email=")[1];
        const emailPart2 = emailPart1.split("&date=")[0];
        document.getElementById('email').value = emailPart2;
        console.log(date);
        function validate() {
            var passwordInput = document.getElementById("password");
            var confirmPasswordInput = document.getElementById("retype_password");
            console.log(passwordInput);
            if (passwordInput.value === "") {
                alert("Fill the Password field!");
                return false;
            } else if (confirmPasswordInput.value === "") {
                alert("Fill the Confirm Password field!");
                return false;
            } else if (passwordInput.value === confirmPasswordInput.value) {
                // Passwords match
                return true;
            } else {
                alert("Passwords do not match!");
                return false;
            }
        }
        var form = document.getElementById("myForm");
        form.addEventListener("submit", function (event) {
            if (!validate()) {
                event.preventDefault();
            }
        });
        
        window.onload = function checkingTheme() {
            try {
                let themeCheck = localStorage.getItem('theme');
                if (themeCheck == null || themeCheck == 'light') {
                    document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
                    document.getElementById('body').style.backgroundColor = "#f5f5f5";
                    document.getElementsByClassName('login-title')[0].style.color = "black";
                    document.getElementsByClassName('t-and-c')[0].style.color = "gray";
                    document.getElementsByClassName('demo-bg')[0].style.display = "flex";
                    document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
                    document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
                } else {
                    document.getElementById('main-div').style.backgroundColor = "black";
                    document.getElementById('body').style.backgroundColor = "black";
                    document.getElementsByClassName('login-title')[0].style.color = "white";
                    document.getElementsByClassName('t-and-c')[0].style.color = "white";
                    document.getElementsByClassName('demo-bg')[0].style.display = "none";
                    document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
                    document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
                }
            } catch (error) {
                console.log('no themes decided yet');
            }
        }
        function changeTheme() {
            let theme = localStorage.getItem('theme');
            if (theme == null || theme == 'light') {
                localStorage.setItem('theme', 'dark');
                // console.log('theme changed to dark');
                document.getElementById('main-div').style.backgroundColor = "black";
                document.getElementById('body').style.backgroundColor = "black";
                document.getElementsByClassName('login-title')[0].style.color = "white";
                document.getElementsByClassName('t-and-c')[0].style.color = "white";
                document.getElementsByClassName('demo-bg')[0].style.display = "none";
                document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
            } else if (theme == 'dark') {
                localStorage.setItem('theme', 'light');
                // console.log('theme changed to light');
                document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
                document.getElementById('body').style.backgroundColor = "#f5f5f5";
                document.getElementsByClassName('login-title')[0].style.color = "black";
                document.getElementsByClassName('t-and-c')[0].style.color = "gray";
                document.getElementsByClassName('demo-bg')[0].style.display = "flex";
                document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
            }
            console.log(theme);
        }
    </script>

</div>



















@* @{
    ViewData["Title"] = "Reset Password";
}
@section Styles {
    <link href="~/css/patientLogin.css" rel="stylesheet" type="text/css" />
}

<div>
    <form asp-controller="Login" asp-action="resetPassword" method="post" class="container d-flex align-items-center flex-column ">
        <img src="SRS Screen Shorts/11116016_415.jpg" class="bg-img img-fluid">
        <header class="header d-flex justify-content-center align-items-center">
            <div class="nightmode ">
                <button onclick="myFunction()" class="darkmode">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" fill="#00aee3" class="bi bi-moon"
                         viewBox="0 0 16 16">
                        <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                    </svg>
                </button>
            </div>
            <img src="~/SRS Screen Shorts/Fig56. Patient site 1.png" class="patientsite">
        </header>
        <div class="content d-flex justify-content-center align-items-center flex-column mt-5">
            <a asp-controller="Login" asp-action="submitrequest.html">
                <button type="button" class="submit-request btn btn-primary btn-lg mb-4  mt-5 ">
                    <strong>Submit A Request</strong>
                </button>
            </a>
            <button type="button" class="submit-request btn btn-primary btn-lg mb-3  ">
                <strong>Registered Patients</strong>
            </button>
        </div>
        <footer class="content mb-0 text-center bottom-0 ">
            <p><span class="toc ">Terms of Conditions</span>|<span class="pp">Privacy Policy</span></p>
        </footer>
    </form>
</div>




<div class="parent-div">
    <div class="container d-flex justify-content-between flex-column align-items-center ">
        <button onclick="changeTheme()" class="darkmode" style=" position: absolute;right:20px;top:20px;background-color: white;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-moon night-mode-icon" viewBox="0 0 16 16">
                <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
            </svg>
        </button>
        <button onclick="changeTheme()" class="change-theme hide-icon">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-brightness-high night-mode-icon" viewBox="0 0 16 16">
                <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
            </svg>
        </button>
        <img src="~/SRS Screen Shorts/11116016_415.jpg" class="bg-img img-fluid">
        <div class="d-flex justify-content-center align-items-center ">
            <img src="~/SRS Screen Shorts/Fig56. Patient site 1.png "
                 class="patientsite d-flex justify-content-center align-items-center ">
        </div>
        @* <div class="w-100 d-flex flex-column outerform">
            <div class="back">
                <a asp-controller="Login" asp-action="patientsite" style="text-decoration:none;">
                    <strong>
                        <span class="h5" style="color: #0dcaf0;">&lt Back</span>
                    </strong>
                </a>
            </div>
            <div class="d-flex justify-content-center align-items-center ">
                <header class="h1 mb-5">Login To Your Account</header>
            </div>
            <form asp-controller="Login" asp-action="resetPassword" method="post">
                <div class="email form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com" asp-for="Username">
                    <label for="floatingInput">Email address</label>
                    <img src="~/SRS Screen Shorts/profile.png" class="profile">
                </div>
                <span asp-validation-for="Username" class="text-danger"></span>
                <div class="d-flex justify-content-center align-items-center ">
                    <button class="btn" type="submit"><span>Reset Password</span></button>
                </div>
            </form>
            <a asp-controller="Login" asp-action="resetPassword" style="text-decoration:none;text-align:center;" class="mb-5 mt-2">
                <span style="color:#0dcaf0;">&lt Back To Login</span>
            </a>
        </div> *@
       @*  <div class="d-flex justify-content-center ">Terms Of Conditions|Privacy Policy</div>
    </div>
    <script>
        window.onload = function checkingTheme() {
            try {
                let themeCheck = localStorage.getItem('theme');
                if (themeCheck == null || themeCheck == 'light') {
                    document.getElementById('parent-div').style.backgroundColor = "#f5f5f5";
                    document.getElementById('main-sub-div').style.backgroundColor = "#f5f5f5";
                    document.getElementById('body').style.backgroundColor = "#f5f5f5";
                    document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
                    document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
                } else {
                    document.getElementById('main-div').style.backgroundColor = "black";
                    document.getElementById('main-sub-div').style.backgroundColor = "black";
                    document.getElementById('body').style.backgroundColor = "black";
                    document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
                    document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
                }
            } catch (error) {
                console.log('no themes decided yet');
            }
        }
        function changeTheme() {
            let theme = localStorage.getItem('theme');
            if (theme == null || theme == 'light') {
                localStorage.setItem('theme', 'dark');
                document.getElementById('main-div').style.backgroundColor = "black";
                document.getElementById('main-sub-div').style.backgroundColor = "black";
                document.getElementById('body').style.backgroundColor = "black";
                document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
            } else if (theme == 'dark') {
                localStorage.setItem('theme', 'light');
                document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
                document.getElementById('main-sub-div').style.backgroundColor = "#f5f5f5";
                document.getElementById('body').style.backgroundColor = "#f5f5f5";
                document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
            }
        }
    </script>
</div> *@








