@using HalloDoc.DataLayer.ViewModels
@model ReviewAgreementViewModel;
@{
    ViewData["Title"] = "ReviewAgreement";
}
@section Styles {
    <link href="~/css/ReviewAgreement.css" rel="stylesheet" type="text/css" />
}
<div>
    <partial name="Toast" />
    <div style="width: 600px; margin: auto; margin-top: 110px">
        <input type="text" style="display:none;" value=3 />
        <p style="line-height: 27px">
            To provide the best medical service, we cannot determine the cost right
            away. If you agree to our service, we will provide care and follow-up
            until all care is completed. So with these points, if you would like us
            to provide care to you, click on "Agree," and we'll get started
            immediately. If you do not agree, simply click "Cancel."
        </p>
        <div style="
          display: flex;
          padding: 40px;
          justify-content: space-between;
          padding-left: 80px;
          padding-right: 80px;
        ">
            <input type="text" style="display:none;" id="requestId" />
            <input style="display:none;" id="email" />
            <button id="agreeBtn"
                    style="
            color: white;
            border: none;
            background-color: #1a8a38;
            border-radius: 5px;
            text-align: center;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            cursor: pointer;
          ">
                I Agree
            </button>
            <button id="cancelBtn"
                    style="
            color: white;
            border: none;
            background-color: #c71236;
            border-radius: 5px;
            text-align: center;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            cursor: pointer;
          ">
                Cancel
            </button>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div style="
            background-color: #00ccff;
            color: white;
            display: flex;
            justify-content: space-between;
            padding: 12px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
          ">
                <span style="
              display: flex;
              flex-wrap: wrap;
              align-content: center;
              font-size: 18px;
            ">Cancel confirmation</span>
                <span class="close">&times;</span>
            </div>
            <div class="d-flex flex-column" style="padding: 30px;">
                @*                <form asp-action="ReviewAgreement" asp-controller="Admin" method="post">*@
                <span id="name-text"></span>
                <textarea placeholder="Please provide a brief explanation for your cancellation"
                          style="height: 150px; margin-top: 15px" id="reason"></textarea>
                <div style="display: flex; margin-top: 15px; justify-content: flex-end">
                    <button type="submit" id="confirmCancelBtn"
                            style="
                color: white;
                border: none;
                background-color: #00ccff;
                border-radius: 5px;
                text-align: center;
                padding: 10px;
                padding-left: 20px;
                padding-right: 20px;
                cursor: pointer;
              ">
                        Confirm
                    </button>
                    @*</form>*@
                    <button onclick="cancel()"
                            style="
                color: #00ccff;
                border: 1px solid #00ccff;
                background-color: white;
                border-radius: 5px;
                text-align: center;
                padding: 10px;
                padding-left: 20px;
                padding-right: 20px;
                margin-left: 15px;
                cursor: pointer;
              ">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var url = window.location.href;
        var namePart = url.split("?name=")[1];
        var name = namePart.split("&email")[0];
        var emailPart = namePart.split("&email=")[1];
        var email = emailPart.split("&requestId=")[0];
        var requestIds = emailPart.split("&requestId=")[1];
        console.log(email);
        console.log(requestIds);
        console.log(name);
        document.getElementById("name-text").innerHTML = name;
        $('#agreeBtn').on('click', function () {
            var reason = $('#reason').val();
            $.ajax({
                url: '/Login/ReviewAgreementSubmit',
                type: 'GET',
                dataType: 'json',
                data: {
                    requestId: requestIds,
                    email: email,
                    reason: reason,
                    status: 3
                },
                success: function (response) {
                    alert("Thank you for understanding, we will start further treatment very soon!");
                    window.location.href = 'https://localhost:44339/Login/AgreementSuccess';
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Error:", textStatus, errorThrown);
                }
            });
        });
        $('#confirmCancelBtn').on('click', function () {
            var reason = $('#reason').val();
            $.ajax({
                url: '/Login/ReviewAgreementSubmit',
                type: 'GET',
                dataType: 'json',
                data: {
                    requestId: requestIds,
                    email: email,
                    reason: reason,
                    status: 7
                },
                success: function (response) {
                    alert("Okay no problem, Get well soon.");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Error:", textStatus, errorThrown);
                }
            });
        });
        var modal = document.getElementById("myModal");
        var cancelBtn = document.getElementById("cancelBtn");
        var span = document.getElementsByClassName("close")[0];
        cancelBtn.onclick = function () {
            modal.style.display = "block";
        };

        span.onclick = function () {
            modal.style.display = "none";
        };
        function cancel() {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };


        // Functionality for confirming cancellation
        //var confirmCancelBtn = document.getElementById("confirmCancelBtn");
        //confirmCancelBtn.onclick = function () {
        //    alert("Cancellation confirmed!"); // You can replace this with any other action you want
        //    modal.style.display = "none"; // Close the modal after confirmation
        //};
    </script>
</div>