body {
    width: 100%;
    height: 100vh;
    /* color: #b9b9b9; */
    color: #333030;
}

.backbutton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-outline-primary {
    --bs-btn-color: #0dcaf0 !important;
    --bs-btn-border-color: #0dcaf0 !important;
    --bs-btn-hover-bg: #0bb6d0 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-active-bg: #00576f !important;
    --bs-btn-active-border-color: #0686a3 !important;
}

.form {
    height: 100vh;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 28%;
    height: 45%;
    align-items: center;
}

.exclamation {
   display: flex;
   width: 70px;
   height: 70px;
   margin: auto;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   border: 2px solid #F5AE00!important;
   margin-bottom: 15px;
   margin-top: 40px;
}
.btn-primary{   
    width: 50px;
    --bs-btn-color: #cffeff!important;
    --bs-btn-bg: #00aee3!important;
    --bs-btn-hover-bg: #008594!important;
    --bs-btn-hover-color: #fff!important;
    --bs-btn-active-bg: #008594!important;
    display: flex;
    justify-content: center;
}
.close {
    display: flex;
    justify-content: center;
}

/* .content{
    height: 100vh;
} */
.floating-input {
    color: rgb(205, 46, 46) !important;
}

.text-area {
    border-color: #0dcaf0 !important;
    height: 140px !important;
}

.color {
    color: #0dcaf0 !important;
}

.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    --bs-btn-active-bg: #00576f !important;
    --bs-btn-active-border-color: #0686a3 !important;
}

.inputUpload {
    flex-basis: 85%;
    background-color: #f0f0f0;
    padding: 10px;
    height: 50px;
    /* width: 100%; */
}

.uploadButton {
    flex-basis: 15%;
    background-color: #0dcaf0;
    padding: 10px;
    border-radius: 5px;
    height: 50px;
}

.button {
    color: white;
}

.submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* 
.btn.btn-primary {
    --bs-btn-bg: #0dcaf0 !important;
} */

.footer {
    background-color: rgb(38, 38, 38);
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
}

.iti {
    width: 100%;
    height: (3.5rem + calc(var(--bs-border-width) * 2));
}

.phone {
    height: 58px;
}

.uremail {
    height: 58px;
}

@media only screen and (max-width:770px) {
    .inputUpload {
        flex-basis: 75%;
    }

    .uploadButton {
        flex-basis: 25%;
    }
}

@media only screen and (max-width:456px) {
    .inputUpload {
        flex-basis: 65%;
    }

    .uploadButton {
        flex-basis: 35%;
    }

    .modal-dialog{
        margin: 26px!important;
    }
}

@media only screen and (max-width:364px) {
    .inputUpload {
        flex-basis: 50%;
    }

    .uploadButton {
        flex-basis: 50%;
    }

    .modal-dialog{
        margin: 26px!important;
    }
} 

/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 28%;
    height: 45%;
} */