/* .nightmode {
    margin-right: 20px;
    position: absolute;
    top: 20px;
    right: 0;
} */
.patientsite{
    height: 62px;
    margin-left: 30px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkmode {
    background-color: white;
    border-radius: 5px;
    border-color: aqua;
}
.btn-outline-primary {
    --bs-btn-color: #0dcaf0 !important;
    --bs-btn-border-color: #0dcaf0 !important;
    --bs-btn-hover-bg: #0bb6d0 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-active-bg: #00576f !important;
    --bs-btn-active-border-color: #0686a3 !important;
}
.navdash{
    margin-left: 36px;
    padding-left: 20px;
    padding-right: 20px
}