@using Hallodoc.Models.ViewModels
@model EditProfileViewModel;
@{
    ViewData["Title"] = "Profile";
}
@section Styles {
    <link href="~/css/createRequest.css" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
<div>
    <partial name="header" model="@Model.partialViewModel" />
    <partial name="navbar" />
    <div class="container">

        <div>
            <div class="d-flex justify-content-between align-items-center p-3">
                <h3>User Profile</h3>
                <div class="d-flex justify-content-center align-items-center mb-3 mt-3" style="background-color:white;width: 90px;height: 45px;border:1px solid #0dcaf0;border-radius:5px;">
                    <a class="textdeco" asp-controller="PatientDashboard" asp-action="patientDashboard" style="text-decoration:none;">
                        <span class="textback" style="color:#0dcaf0;">&lt Back</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="content shadow ">
            <form asp-controller="PatientDashboard" asp-action="profile" enctype="multipart/form-data" method="post" class="h-100  ps-3 pt-3 pe-3 g-3">
                <header class="h5">General Information</header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput1" placeholder="First Name" asp-for="FirstName">
                            <label for="floatingInput1">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput2" placeholder="Last Name" asp-for="LastName">
                            <label for="floatingInput2">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="floatingInput3" asp-for="DOB">
                            <label for="floatingInput3">Date of Birth</label>
                            <span asp-validation-for="DOB" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <header class="h5">Contact Information</header>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect" >@* asp-for="Type" *@
                                <option value="">Mobile</option>
                                <option value="Email">Email</option>
                                <option value="SMS">SMS</option>
                            </select>
                            <label for="floatingSelect">Type</label>
                            @* <span asp-validation-for="Type" class="text-danger"></span> *@
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="tel" class="phone form-control" id="floatingInput5" placeholder="(201)555-0123" asp-for="PhoneNumber" >
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" asp-for="Email">
                            <label for="floatingInput4">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="hidden" id="pass">
                        <div class="col-md-6">
                            <div class="password form-floating mb-3">
                                <input type="password" class="form-control" id="floatingpassword1" placeholder="Password" asp-for="PasswordHash">
                                <label for="floatingPassword1">Password</label>
                                @* <div class="eye">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" fill="currentColor" class="bi bi-eye"
                                viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                </svg>
                                </div> *@
                            </div>
                            <span asp-validation-for="PasswordHash" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <header class="h5">Location Information</header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput6" placeholder="Street" asp-for="Street">
                            <label for="floatingInput6">Street</label>
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput7" placeholder="City" asp-for="City">
                            <label for="floatingInput7">City</label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput8" placeholder="State" asp-for="State">
                            <label for="floatingInput8">State</label>
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput9" placeholder="Zip Code" asp-for="ZipCode">
                            <label for="floatingInput9">Zip Code</label>
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-1" >
                        <div style="border:1px solid #0bb6d0;height:58px;border-radius:5px;" class="map form-control d-flex justify-content-center align-items-center">
                            <a id="map-button" style="text-decoration:none;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0bb6d0" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                </svg>
                            <span style="color:#0bb6d0">Map</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="submit pb-3">
                    <button type="submit" class="" id="submit-button" style="border:1px solid #0bb6d0;border-radius:5px;background-color:#0bb6d0;height:45px;width:90px;color:white;">
                    <span>Edit</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer mt-3 ">
        <span class="h5">Terms Of Conditions</span>
        <span>|</span>
        <span class="h5">Privacy Policy</span>
    </footer>

    <script>
        //for creating countrywise phone format
        const phoneInputField = document.getElementsByClassName("phone");
        for (let i = 0; i < phoneInputField.length; ++i) {
            const phoneInput = window.intlTelInput(phoneInputField[i], {
                utilsScript:
                    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
            });
        }

        //to add password and confirm password fields
        $(document).ready(function () {
            $('#inputEmail4').on('blur', function () {
                var inputValue = $('#inputEmail4').val();
                console.log(inputValue)

                $.get('/PatientRequest/PatientCheck', { email: inputValue }, function (response) {
                    console.log(response.isValid)
                    if (!response.isValid) {
                        document.getElementById("pass").classList.remove('hidden')

                    }
                    else {
                        document.getElementById("pass").classList.add('hidden')
                    }
                });
            });
        });

        //to check pwd and confirm pwd are same or not
        function validate() {
            var passwordInput = document.getElementById("password");
            var confirmPasswordInput = document.getElementById("retype_password");

            if (passwordInput.value === confirmPasswordInput.value) {
                // Passwords match
                return true;
            } else {
                alert("Passwords do not match!");
                return false;
            }
        }
        var form = document.getElementById("myForm");
        form.addEventListener("submit", function (event) {
            if (!validate()) {
                event.preventDefault();
            }
        });




                var btn = document.getElementById("submit-button");

        var span = document.getElementsByClassName("close")[0];

        //for creating countrywise phone format
        // const phoneInputField = document.getElementsByClassName("phone");
        // for (let i = 0; i < phoneInputField.length; ++i) {
        //     const phoneInput = window.intlTelInput(phoneInputField[i], {
        //         utilsScript:
        //             "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
        //     });
        // }

        //map
        var modal = document.getElementById("myModal");

        var btn = document.getElementById("map-button");

        var spany = document.getElementsByClassName("close")[0];
        var map;
        btn.onclick = function () {
            var geocoder = new google.maps.Geocoder();
            var Street = document.getElementById('street').value;
            var City = document.getElementById('city').value;
            var State = document.getElementById('state').value;
            var ZipCode = document.getElementById('zipcode').value;
            var address = Street + City + State + ZipCode;
            var address1 = `https://maps.google.com/maps?q= + ${Street} + ${City} + ${State} + ${ZipCode} + &t=&z=13&ie=UTF8&iwloc=&output=embed`;
            console.log(address1);
            document.getElementById('gmap_canvas').src = address1;
            geocoder.geocode({ address: address }, function (results, status) {
                if (status == "OK") {
                    var latitude = results[0].geometry.location.lat();
                    var longitude = results[0].geometry.location.lng();
                    console.log("Latitude: " + latitude);
                    console.log("Longitude: " + longitude);
                } else {
                    console.log("Geocoding failed: " + status);
                }
            });
            modal.style.display = "block";
        }
        spany.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        // var map;

        // function initMap() {
        //     var geocoder = new google.maps.Geocoder();
        //     var Street = document.getElementById('street').value;
        //     var City = document.getElementById('city').value;
        //     var State = document.getElementById('state').value;
        //     var ZipCode = document.getElementById('zipcode').value;
        //     var address = Street + City + State + ZipCode;

        //     geocoder.geocode({ address: address }, function (results, status) {
        //         if (status == "OK") {
        //             var latitude = results[0].geometry.location.lat();
        //             var longitude = results[0].geometry.location.lng();

        //             var mapOptions = {
        //                 center: { lat: latitude, lng: longitude },
        //                 zoom: 13
        //             };

        //             map = new google.maps.Map(document.getElementById('map'), mapOptions);

        //             var marker = new google.maps.Marker({
        //                 position: { lat: latitude, lng: longitude },
        //                 map: map
        //             });
        //         } else {
        //             console.log("Geocoding failed: " + status);
        //         }
        //     });
        // }

        // var modal = document.getElementById("myModal");

        // var btn = document.getElementById("map-button");

        // var spany = document.getElementsByClassName("close")[0];

        // btn.onclick = function () {
        //     initMap();
        //     modal.style.display = "block";
        // }

        // spany.onclick = function () {
        //     modal.style.display = "none";
        // }

        // window.onclick = function (event) {
        //     if (event.target == modal) {
        //         modal.style.display = "none";
        //     }
        // }

    </script>
</div>