@    using Hallodoc.Models.ViewModels
@model SomeoneElseViewModel;
@{
    ViewData["Title"] = "My Request";
}
@section Styles {
    <link href="~/css/createRequest.css" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
<div>
    </div>
    <div class="container">

    <div>
        <div class="d-flex justify-content-between align-items-center p-3">
            <h3>Submit Information</h3>
            <div class="d-flex justify-content-center align-items-center mb-3 mt-3" style="background-color:white;width: 90px;height: 45px;border:1px solid #0dcaf0;border-radius:5px;">
                <a class="textdeco" asp-controller="PatientDashboard" asp-action="patientDashboard" style="text-decoration:none;">
                    <span class="textback" style="color:#0dcaf0;">&lt Back</span>
                </a>
            </div>
        </div>
    </div>
        <div class="content shadow ">
            <form asp-controller="PatientDashboard" asp-action="RelativeModalSubmit" enctype="multipart/form-data" method="post" class="h-100  ps-3 pt-3 pe-3 g-3">
                <header class="h5">Patient Information</header>
                <div class="form-floating mb-3 p-0">
                    <!-- <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"> -->
                    <textarea class="text-area form-control" id="exampleFormControlTextarea1" rows="7" asp-for="Symptoms"></textarea>
                    <label class="color" for="exampleFormControlTextarea1">Enter Brief Details Of Symptoms(Optional)</label>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput1" placeholder="First Name" asp-for="FirstName">
                            <label class="floatingInput1">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput2" placeholder="Last Name" asp-for="LastName">
                            <label for="floatingInput2">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="floatingInput3" asp-for="DOB">
                            <label for="floatingInput3">Date of Birth</label>
                            <span asp-validation-for="DOB" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <header class="h5">Patient Contact Information</header>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" asp-for="Email">
                            <label for="inputEmail4">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="floatingInput4" placeholder="(201)555-0123" asp-for="PhoneNumber">
                            <label for="floatingInput4">Phone Number</label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    
                </div>
                @* <div class="row">
                <div class="col-md-6 ">
                <div class="form-floating mb-3">
                <input type="password" class="form-control" id="inputEmail4" placeholder="Password" asp-for="Password">
                <label for="floatingInput">Password</label>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" placeholder="Confirm Password" asp-for="ConfirmPassword">
                <label for="floatingInput">Confirm Password</label>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                </div> *@
                <header class="h5">Patient Location</header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput5" placeholder="Street" asp-for="Street">
                            <label for="floatingInput5">Street</label>
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput6" placeholder="City" asp-for="City">
                            <label for="floatingInput6">City</label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput7" placeholder="State" asp-for="State">
                            <label for="floatingInput7">State</label>
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput8" placeholder="Zip Code" asp-for="ZipCode">
                            <label for="floatingInput8">Zip Code</label>
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput9"
                                   placeholder="Room#/Suite(Optional)" asp-for="Room">
                            <label for="floatingInput9">Room#/ Suite(Optional)</label>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div style="border:1px solid #0bb6d0;height:58px;width:110px;border-radius:5px;" class="map form-control d-flex justify-content-center align-items-center">
                            <a asp-controller="#" asp-action="#" style="text-decoration:none;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0bb6d0" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                </svg>
                                <span style="color:#0bb6d0">Map</span>
                            </a>
                        </div>
                    </div>
                </div>
                <header class="h5">Relation</header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput4"
                                   placeholder="Relation" asp-for="Relation">
                            <label for="floatingInput4">Relation with Patient</label>
                        </div>
                        <span asp-validation-for="Relation" class="text-danger"></span>

                    </div>
                </div>
                <header class="h5">Upload Photo or Document(Optional)</header>
                <div class="upload mb-3 ">
                    <input type="file" class="inputUpload" placeholder="Select File" asp-for="File">
                    <button class="uploadButton" type="button" onclick="choose_file()" id="choose-file-button">
                        <img src="~/SRS Screen Shorts/cloud-upload-icon.svg">
                        <span class="button">Upload</span>
                    </button>
                </div>
                <div class="submit pb-3">
                    <button type="submit" class="btn btn-outline-pri" id="submit-button">
                        Submit
                    </button>&nbsp&nbsp&nbsp
                    <button class="btn btn-outline-pri">Cancel</button>

                </div>
            </form>
        </div>
    </div>
    <footer class="footer mt-3 ">
        <span class="h5">Terms Of Conditions</span>
        <span>|</span>
        <span class="h5">Privacy Policy</span>
    </footer>

    <script>


        var btn = document.getElementById("submit-button");

        var span = document.getElementsByClassName("close")[0];

        //for creating countrywise phone format
        const phoneInputField = document.getElementsByClassName("phone");
        for (let i = 0; i < phoneInputField.length; ++i) {
            const phoneInput = window.intlTelInput(phoneInputField[i], {
                utilsScript:
                    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
            });
        }

        //to get filename
        function choose_file() {
            document.getElementById('file-input-button').addEventListener('change', getFileName);
        }
        const getFileName = (event) => {
            const files = event.target.files;
            const fileName = files[0].name;
            document.getElementById('select-file-text').innerHTML = fileName;
        }

        $(document).ready(function () {
            $('#inputEmail4').on('blur', function () {
                var inputValue = $('#inputEmail4').val();
                console.log(inputValue)

                $.get('/PatientRequest/PatientCheck', { email: inputValue }, function (response) {
                    console.log(response.isValid)
                    if (!response.isValid) {
                        document.getElementById("pass").classList.remove('hidden')

                    }
                    else {
                        document.getElementById("pass").classList.add('hidden')
                    }
                });
            });
        });


    </script>
</div>