<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'main-sub-div')" id="defaultOpen">Dashboard</button>
    <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">Provider Location</button>
    <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">My Profile</button>
    <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">Providers</button>
    <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">Partners</button>
    <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">Access</button>
    <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">Records</button>
</div>