@model AdminNavbarViewModel
<div id="sidebar">
    <div class="navigation-bar-top-2">
        <button class="logo-and-hamburger" onclick="hamburger()">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-list hamburger" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg>
        </button>
        <img class="logo" src="~/SRS Screen Shorts/Fig56. Patient site 1.png" alt="">
    </div>
    <div class="tab-2">
        @if (Model.Tab == 1)
        {
            <a class="tablinkss 1 active textdeconone" asp-action="AdminDashboard" asp-controller="AdminDashboard" id="defaultOpen2">Dashboard</a>
        }
        else
        {
            <a class="tablinkss 1 textdeconone" asp-action="AdminDashboard" asp-controller="AdminDashboard" id="defaultOpen2">Dashboard</a>
        }
        @if (Model.Tab == 2)
        {
            <a class="tablinkss 2 active textdeconone" asp-action="ProviderLocation" asp-controller="AdminDashboard">Provider Location</a>
        }
        else
        {
            <a class="tablinkss 2 textdeconone" asp-action="ProviderLocation" asp-controller="AdminDashboard">Provider Location</a>
        }
        @if (Model.Tab == 3)
        {
            <a class="tablinkss 3 active textdeconone" asp-action="AdminProfile" asp-controller="AdminDashboard">My Profile</a>
        }
        else
        {
            <a class="tablinkss 3 textdeconone" asp-action="AdminProfile" asp-controller="AdminDashboard">My Profile</a>
        }
        <a class="tablinkss 4 textdeconone">Providers</a>
        <a class="tablinkss 5 textdeconone">Partners</a>
        <a class="tablinkss 6 textdeconone">Access</a>
        @if (Model.Tab == 7)
        {
            <a class="tablinkss 7 active textdeconone" asp-action="PatientHistory" asp-controller="AdminDashboard">Records</a>
            @*<a class="tablinkss 7">Records</a>*@
        }
        else
        {
            <a class="tablinkss 7 textdeconone" asp-action="PatientHistory" asp-controller="AdminDashboard">Records</a>
        }
    </div>
</div>
<div class="navigation-bar-top">
    <button class="logo-and-hamburger" onclick="hamburger()">

        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
             class="bi bi-list hamburger" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
        </svg>
        <img class="logo" src="~/SRS Screen Shorts/Fig56. Patient site 1.png" alt="">
    </button>

    <div style="display: flex;align-items: center;">

        <span class="welcome-title">Welcome</span>
        <span class="name-title">@Model.AdminName</span>
        <a asp-controller="Login" asp-action="Login" class="back-navigation-link-2">
            <div class="back-navigation">
                <span>Logout</span>
            </div>
        </a>
        <a asp-controller="Login" asp-action="Login" class="logout-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                 class="bi bi-box-arrow-right night-mode-icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                <path fill-rule="evenodd"
                      d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
            </svg>
        </a>
        <button onclick="changeTheme()" class="change-theme">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-moon night-mode-icon" viewBox="0 0 16 16">
                <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
            </svg>
        </button>
        <button onclick="changeTheme()" class="change-theme hide-icon">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-brightness-high night-mode-icon" viewBox="0 0 16 16">
                <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
            </svg>
        </button>
    </div>
</div>
<div class="tab">
    @if (Model.Tab == 1)
    {
        <a class="tabStyle textdeconone 1 active" asp-action="AdminDashboard" asp-controller="AdminDashboard" id="defaultOpen2">Dashboard</a>
    }
    else
    {
        <a class="tabStyle textdeconone 1" asp-action="AdminDashboard" asp-controller="AdminDashboard" id="defaultOpen2">Dashboard</a>
    }
    @if (Model.Tab == 2)
    {
        <a class="tabStyle textdeconone 2 active" asp-action="ProviderLocation" asp-controller="AdminDashboard">Provider Location</a>
    }
    else
    {
        <a class="tabStyle textdeconone 2 " asp-action="ProviderLocation" asp-controller="AdminDashboard">Provider Location</a>
    }
    @if (Model.Tab == 3)
    {
        <a class="tabStyle textdeconone 3 active" asp-action="AdminProfile" asp-controller="AdminDashboard">My Profile</a>
    }
    else
    {
        <a class="tabStyle textdeconone 3" asp-action="AdminProfile" asp-controller="AdminDashboard">My Profile</a>
    }
    <a class="tabStyle textdeconone 4">Providers</a>
    <a class="tabStyle textdeconone 5">Partners</a>
    <a class="tabStyle textdeconone 6">Access</a>

    @* @if (Model.Tab == 7 || Model.Tab == 8 || Model.Tab == 9 || Model.Tab == 10 || Model.Tab == 11)
    {

        <div class="tabStyle textdeconone 7 dropdown navbar-dropdown navbar-div active" style="padding:0px !important;background-color:transparent !important;">
            <button class="navbar-btn dropdown-toggle navbar-button" style="color:#00ccff;font-weight:500;background-color:transparent !important;" type="button" id="records" data-bs-toggle="dropdown" aria-expanded="false">
                Records
            </button>
            <ul class="dropdown-menu" aria-labelledby="records">
                @if (Model.Tab == 7)
                {

                    <li><a class="navbar-dropdown-item dropdown-item" style="color:#00ccff;background-color:#e6f8fc;font-weight:500;" asp-action="SearchRecords" asp-controller="AdminDashboard">Search Records</a></li>
                }
                else
                {
                    <li><a class="navbar-dropdown-item dropdown-item" asp-action="SearchRecords" asp-controller="AdminDashboard">Search Records</a></li>

                }
                @if (Model.Tab == 8)
                {

                    <li><a class="navbar-dropdown-item dropdown-item" style="color:#00ccff;background-color:#e6f8fc;font-weight:500;" asp-action="PatientHistory" asp-controller="AdminDashboard">Email Logs</a></li>
                }
                else
                {
                    <li><a class="navbar-dropdown-item dropdown-item" asp-action="PatientHistory" asp-controller="AdminDashboard">Email Logs</a></li>

                }
                @if (Model.Tab == 9)
                {

                    <li><a class="navbar-dropdown-item dropdown-item" style="color:#00ccff;background-color:#e6f8fc;font-weight:500;" asp-action="PatientHistory" asp-controller="AdminDashboard">SMS Logs</a></li>
                }
                else
                {
                    <li><a class="navbar-dropdown-item dropdown-item" asp-action="PatientHistory" asp-controller="AdminDashboard">SMS Logs</a></li>

                }
                @if (Model.Tab == 10)
                {

                    <li><a class="navbar-dropdown-item dropdown-item" style="color:#00ccff;background-color:#e6f8fc;font-weight:500;" asp-action="PatientHistory" asp-controller="AdminDashboard">Patient History</a></li>
                }
                else
                {
                    <li><a class="navbar-dropdown-item dropdown-item" asp-action="PatientHistory" asp-controller="AdminDashboard">Patient History</a></li>
                }
                @if (Model.Tab == 11)
                {
                    <li><a class="navbar-dropdown-item dropdown-item" style="color:#00ccff;background-color:#e6f8fc;font-weight:500;" asp-action="BlockHistory" asp-controller="AdminDashboard">Block History</a></li>
                }
                else
                {
                    <li><a class="navbar-dropdown-item dropdown-item" asp-action="BlockHistory" asp-controller="AdminDashboard">Block History</a></li>
                }


            </ul>
        </div>

    }
    else
    {
        <div class="tabStyle 7 dropdown navbar-dropdown navbar-div textdeconone" style="padding:0px !important;background-color:transparent !important;">
            <button class="navbar-btn dropdown-toggle navbar-button" type="button" id="records" data-bs-toggle="dropdown" aria-expanded="false">
                Records
            </button>
            <ul class="dropdown-menu" aria-labelledby="records">
                <li><a class="navbar-dropdown-item dropdown-item" asp-action="SearchRecords" asp-controller="AdminDashboard">Search Records</a></li>
                <li><a class="navbar-dropdown-item dropdown-item" href="#">Email Logs</a></li>
                <li><a class="navbar-dropdown-item dropdown-item" href="#">SMS Logs</a></li>
                <li><a class="navbar-dropdown-item dropdown-item" asp-action="PatientHistory" asp-controller="AdminDashboard">Patient History</a></li>
                <li><a class="navbar-dropdown-item dropdown-item" asp-action="BlockHistory" asp-controller="AdminDashboard">Block History</a></li>
            </ul>
        </div>
    } *@
</div>
<script>
    // function navbarPressed(element) {
    //     var classes = element.classList[1];
    //     var all = document.getElementsByClassName('tablinks');
    //     for (var i = 0; i < all.length; i++) {
    //         if (all[i].classList[2] == "active") {
    //             all[i].classList.remove("active");
    //         }
    //         if (classes - 1 == i) {
    //             all[i].classList.add("active");
    //         }
    //         console.log(all[i].classList[2]);
    //     }
    //     var classes2 = element.classList[1];
    //     var all2 = document.getElementsByClassName('tablinkss');
    //     for (var i = 0; i < all2.length; i++) {
    //         if (all2[i].classList[2] == "active") {
    //             all2[i].classList.remove("active");
    //         }
    //         if (classes2 - 1 == i) {
    //             all2[i].classList.add("active");
    //         }
    //         console.log(all[i].classList[2]);
    //     }
    //     sidebarOpen = false;
    //     document.getElementById('sidebar').style.display = "none";
    //     document.getElementById('main-div').style.opacity = "1";
    //     document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
    // }




    // function navbarPressed(element) {
    //     var classes = element.classList[1];
    //     var all = document.getElementsByClassName('tablinks');
    //     for (var i = 0; i < all.length; i++) {
    //         if (all[i].classList[2] == "active") {
    //             all[i].classList.remove("active");
    //         }
    //         if (classes - 1 == i) {
    //             all[i].classList.add("active");
    //         }
    //         console.log(all[i].classList[2]);
    //     }
    //     var classes2 = element.classList[1];
    //     var all2 = document.getElementsByClassName('tabStyle');
    //     for (var i = 0; i < all2.length; i++) {
    //         if (all2[i].classList[2] == "active") {
    //             all2[i].classList.remove("active");
    //         }
    //         if (classes2 - 1 == i) {
    //             all2[i].classList.add("active");
    //         }
    //         console.log(all[i].classList[2]);
    //     }
    //     sidebarOpen = false;
    //     document.getElementById('sidebar').style.display = "none";
    //     document.getElementById('main-div').style.opacity = "1";
    //     document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
    // }




    function navbarPressed(element) {
        var classes = element.classList[1];
        var all = document.getElementsByClassName('tablinks');
        var all2 = document.getElementsByClassName('tabStyle');
        for (var i = 0; i < all.length; i++) {
            if (all[i].classList[2] == "active") {
                all[i].classList.remove("active");
            }
            if (classes - 1 == i) {
                all[i].classList.add("active");
            }
        }
        for (var i = 0; i < all2.length; i++) {
            if (all2[i].classList[2] == "active") {
                all2[i].classList.remove("active");
            }
            if (classes - 1 == i) {
                all2[i].classList.add("active");
            }
        }
        sidebarOpen = false;
        document.getElementById('sidebar').style.display = "none";
        document.getElementById('main-div').style.opacity = "1";
        document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
    }
</script>

