@using HalloDoc.DataLayer.ViewModels;
@model partialViewModel


    <div class="shadow navBar">
        <navbar class="d-flex justify-content-between align-items-center">
        <button class="navbarToggler d-sm-block d-md-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
        <svg xmlns = "http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
        </svg>
        </button>
        <div class="offcanvas offcanvas-start w-50" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ">
                <ul class="navbar-nav nav-underline me-auto mb-2 mb-lg-0" id="mylinks">
                    <li class="nav-item">
                        <a asp-controller="Login" asp-action="patientDashboard" class="nav-link navdash" aria-current="page">
                            <div>
                                <strong class="h4" style="color:#00ccff">Dashboard</strong>
                                
                            </div>
                        </a>
                    </li>
                    <hr />
                    <li class="nav-item">
                        <a class="nav-link navdash" asp-controller="Login" asp-action="patientsite">
                            <div>
                                <strong class="h4" style="color:#00ccff">Profile</strong>
                            </div>
                        </a>
                    </li>
                    <hr />
                </ul>
            </div>
        </div>
        <img src="~/SRS Screen Shorts/Fig56. Patient site 1.png" class="patientsite" style="height: 65px;margin-left: 30px;width: 117px!important;">
        <div class="nav d-flex">
            <button class="shortnav d-block d-md-none">
            <svg xmlns = "http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                <path fill-rule="evenodd"
                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
            </svg>
            </button>
            <!-- d-flex justify-content-evenly align-items-center -->
            <div class="hideinmob d-none d-md-block">
                <span class="me-3" style="margin-right: 10px;margin-left: 15px;">Welcome @Model.patient_name</span>
                <button type="button" class="me-3" style="border:1px solid #00ccff;border-radius:5px;background-color:white;height: 36px;width: 80px;">
                    <a asp-controller="Login" asp-action="Login" style="text-decoration:none;">
                        <span style="color:#00ccff;">Logout</span>
                    </a>
                </button>
            </div>
            <div class="nightmode ms-2">
                <div onclick="myFunction()" class="darkmode me-2 d-flex justify-content-center align-items-center" style="border:1px solid #0dcaf0;border-radius:5px;border-color:#0dcaf0;height:37px;width:50px;bo">
                    <svg xmlns = "http://www.w3.org/2000/svg" width="25" height="20" fill="#0dcaf0" class="bi bi-moon"
                        viewBox="0 0 16 16">
                        <path d = "M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                    </svg>
                </div>
            </div>
            @* < div class="nightmode me-3">  *@
            @* <button class="btn btn-outline-primary d-flex justify-content-center align-items-center hmoon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" fill="aqua" class="bi bi-moon"
                         viewBox="0 0 16 16">
                        <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                    </svg>
                </button> *@

        </div>
    </navbar>
    </div>
