@* @using HalloDoc.DataLayer.Models; *@
@using HalloDoc.DataLayer.ViewModels;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<nav class="navbar navbar-expand-lg navbar-expand-md d-none d-md-block bg-body-tertiary shadow" style="background-color: white!important;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav nav-underline me-auto mb-2 mb-lg-0" id="mylinks">
                <li class="nav-item">
                    <a asp-controller="PatientDashboard" asp-action="patientDashboard" class="nav-link navdash" aria-current="page">
                        <strong style="color:#00ccff">Dashboard</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navdash" asp-controller="PatientDashboard" asp-action="profile">
                        <strong style ="color:#00ccff">Profile</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
