@using HalloDoc.DataLayer.ViewModels
@model RequestViewModelPatient;
@{
    ViewData["Title"] = "Patient-Request";
}
@section Styles {
    <link href="~/css/createRequest.css" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
<partial name="Toast" />
<div>
    <div class="container">
        <div class="backbutton mb-3 mt-3">
            <a asp-controller="Login" asp-action="submitrequest">
                <button type="button" class="btn btn-outline-pri">&lt Back</button>
            </a>
        </div>
        <div class="content shadow ">
            <form asp-controller="PatientRequest" asp-action="createPatientRequest" enctype="multipart/form-data" method="post" class="h-100  ps-3 pt-3 pe-3 g-3">
                <header class="h5">Patient Information</header>
                <div class="form-floating mb-3 p-0">
                    <!-- <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"> -->
                    <textarea class="text-area form-control" id="exampleFormControlTextarea1" rows="7" asp-for="Symptoms"></textarea>
                    <label class="color" for="floatingInput">Enter Brief Details Of Symptoms(Optional)</label>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput1" placeholder="First Name" asp-for="FirstName">
                            <label class="floatingInput1">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput2" placeholder="Last Name" asp-for="LastName">
                            <label for="floatingInput2">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="dob" asp-for="DOB">
                            <label for="dob">Date of Birth</label>
                            <span asp-validation-for="DOB" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <header class="h5">Patient Contact Information</header>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" asp-for="Email">
                            <label for="floatingInput4">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="tel" class="phone form-control" id="floatingInput5" placeholder="(201)555-0123" asp-for="PhoneNumber">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="hidden" id="pass">
                        <div class="col-md-6">
                            <div class="password form-floating mb-3">
                                <input type="password" class="form-control" id="floatingpassword1" placeholder="Password" asp-for="PasswordHash">
                                <label for="floatingPassword1">Password</label>
                                @* <div class="eye">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" fill="currentColor" class="bi bi-eye"
                                viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                </svg>
                                </div> *@
                            </div>
                            <span asp-validation-for="PasswordHash" class="text-danger"></span>
                        </div>


                        <div class="col-md-6">
                            <div class="password form-floating mb-3">
                                <input type="password" class="form-control" id="retype_password" onblur="validate()" placeholder="Password" asp-for="RequirePasswordHash">
                                <label for="floatingPassword2">Confirm Password</label>
                                @* <div class="eye">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" fill="currentColor" class="bi bi-eye"
                                viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                </svg>
                                </div> *@
                            </div>
                            <span asp-validation-for="RequirePasswordHash" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                @* <div class="row">
                <div class="col-md-6 ">
                <div class="form-floating mb-3">
                <input type="password" class="form-control" id="inputEmail4" placeholder="Password" asp-for="Password">
                <label for="floatingInput">Password</label>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" placeholder="Confirm Password" asp-for="ConfirmPassword">
                <label for="floatingInput">Confirm Password</label>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                </div> *@
                <header class="h5">Patient Location</header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput6" placeholder="Street" asp-for="Street">
                            <label for="floatingInput6">Street</label>
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput7" placeholder="City" asp-for="City">
                            <label for="floatingInput7">City</label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput8" placeholder="State" asp-for="State">
                            <label for="floatingInput8">State</label>
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput9" placeholder="Zip Code" asp-for="ZipCode">
                            <label for="floatingInput9">Zip Code</label>
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput10"
                                   placeholder="Room#/Suite(Optional)" asp-for="Room">
                            <label for="floatingInput10">Room#/ Suite(Optional)</label>
                        </div>
                    </div>
                </div>
                <header class="h5">Upload Photo or Document(Optional)</header>
                <div class="upload mb-3 ">
                    <input type="file" class="inputUpload" placeholder="Select File" asp-for="File">
                    <button class="uploadButton" type="button" onclick="choose_file()" id="choose-file-button">
                        <img src="~/SRS Screen Shorts/cloud-upload-icon.svg">
                        <span class="button">Upload</span>
                    </button>
                </div>
                <div class="submit pb-3">
                    <input type="submit" class="btn btn-outline-pri" id="submit-button" />
                    &nbsp&nbsp&nbsp
                    <button type="button" class="btn btn-outline-pri">Cancel</button>

                </div>
            </form>
        </div>
    </div>
    <footer class="footer mt-3 ">
        <span class="h5">Terms Of Conditions</span>
        <span>|</span>
        <span class="h5">Privacy Policy</span>
    </footer>

    <script>
        //date validation
        const inputDate = document.getElementById('dob');
        const today = new Date().toISOString().split('T')[0];
        inputDate.setAttribute('max', today);
        //for showing modal
        // var modal = document.getElementById("myModal");

        // var btn = document.getElementById("submit-button");

        // var span = document.getElementsByClassName("close")[0];

        //for showing modal
        // btn.onclick = function () {
        //     modal.style.display = "flex";
        // }
        // span.onclick = function () {
        //     modal.style.display = "none";
        // }
        // window.onclick = function (event) {
        //     if (event.target == modal) {
        //         modal.style.display = "none";
        //     }
        // }
        //for creating countrywise phone format
        const phoneInputField = document.getElementsByClassName("phone");
        for (let i = 0; i < phoneInputField.length; ++i) {
            const phoneInput = window.intlTelInput(phoneInputField[i], {
                utilsScript:
                    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
            });
        }

        //to get filename
        function choose_file() {
            document.getElementById('file-input-button').addEventListener('change', getFileName);
        }
        const getFileName = (event) => {
            const files = event.target.files;
            const fileName = files[0].name;
            document.getElementById('select-file-text').innerHTML = fileName;
        }

        //to add password and confirm password fields
        $(document).ready(function () {
            $('#inputEmail4').on('blur', function () {
                var inputValue = $('#inputEmail4').val();
                console.log(inputValue)

                $.get('/PatientRequest/PatientCheck', { email: inputValue }, function (response) {
                    console.log(response.isValid)
                    if (!response.isValid) {
                        document.getElementById("pass").classList.remove('hidden')

                    }
                    else {
                        document.getElementById("pass").classList.add('hidden')
                    }
                });
            });
        });

        //to check pwd and confirm pwd are same or not
        function validate() {
            var passwordInput = document.getElementById("password");
            var confirmPasswordInput = document.getElementById("retype_password");

            if (passwordInput.value === confirmPasswordInput.value) {
                // Passwords match
                return true;
            } else {
                alert("Passwords do not match!");
                return false;
            }
        }
        var form = document.getElementById("myForm");
        form.addEventListener("submit", function (event) {
            if (!validate()) {
                event.preventDefault();
            }
        });

    </script>
</div>