@* @using HalloDoc.DataLayer.Models; *@
@using HalloDoc.DataLayer.ViewModels;
@model DashboardViewModel;
@using static HalloDoc.EnumStatus;
@{
    ViewData["Title"] = "Admin-Dashboard";
}
@section Styles {
    <link href="~/css/AdminDashboardStyle.css" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @{
        // <partial name="_ValidationScriptsPartial" />
    }
}

<div id="body">
    <div style="display: flex;flex-direction: row;">
        <div id="sidebar">
            <div class="navigation-bar-top-2">
                <button class="logo-and-hamburger" onclick="hamburger()">

                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-list hamburger" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg>
                </button>
                <img class="logo" src="./images/logo1.png" alt="">
            </div>
            <div class="tab-2">
                <button class="tablinks" onclick="openTab(event, 'main-sub-div')" id="defaultOpen2">Dashboard</button>
                <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">Provider Location</button>
                <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">My Profile</button>
                <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">Providers</button>
                <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">Partners</button>
                <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">Access</button>
                <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">Records</button>
            </div>
        </div>
        <div id="main-div" style="width: 100%;">
            <div class="navigation-bar-top">
                <button class="logo-and-hamburger" onclick="hamburger()">

                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-list hamburger" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg>
                    <img class="logo" src="~/images/logo1.png" alt="">
                </button>

                <div style="display: flex;align-items: center;">

                    <span class="welcome-title">Welcome</span>
                    <span class="name-title">Karmadipsinh Solanki</span>
                    <a asp-controller="AdminDashboard" asp-action="index" class="back-navigation-link-2">
                        <div class="back-navigation">
                            <span>Logout</span>
                        </div>
                    </a>
                    <a asp-controller="AdminDashboard" asp-action="index" class="logout-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                             class="bi bi-box-arrow-right night-mode-icon" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                            <path fill-rule="evenodd"
                                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                        </svg>
                    </a>
                    <button onclick="changeTheme()" class="change-theme">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-moon night-mode-icon" viewBox="0 0 16 16">
                            <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                        </svg>
                    </button>
                    <button onclick="changeTheme()" class="change-theme hide-icon">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-brightness-high night-mode-icon" viewBox="0 0 16 16">
                            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'main-sub-div')" id="defaultOpen">Dashboard</button>
                <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">Provider Location</button>
                <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">My Profile</button>
                <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">Providers</button>
                <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">Partners</button>
                <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">Access</button>
                <button class="tablinks" onclick="openTab(event, 'main-sub-div-2')">Records</button>
            </div>
            <div id="main-sub-div" class="tabcontent">

                <div class="row flex-row justify-content-between main-tabs">
                    <a class="col-lg-2 col-md-4 col-4" style="text-decoration:none">
                        <div class="state newState newState-active" onclick="changeStatus(this)">
                            <div class="state-sub-div">
                                <img src="~/images/new.svg" id="newState" class="icon-size hide" />
                                <img src="~/images/new_active.png" id="newState-active" class="icon-size" />
                                <span class="title-sub-div">NEW</span>
                            </div>
                            <span class="no">1452</span>
                        </div>
                        <img src="~/images/caret-down-fill.svg" id="newState-img" class="caret" />
                    </a>
                    <a class="col-lg-2 col-md-4 col-4" style="text-decoration:none">
                        <div class="state pendingState" onclick="changeStatus(this)">
                            <div class="state-sub-div">
                                <img src="~/images/pending.svg" id="pendingState" class="icon-size" />
                                <img src="~/images/pending_active.png" id="pendingState-active"
                                     class="icon-size hide" />
                                <span class="title-sub-div">PENDING</span>
                            </div>
                            <span class="no">266</span>
                        </div>
                        <img src="~/images/caret-down-fill1.svg" id="pendingState-img" class="caret hidden" />
                    </a>
                    <a class="col-lg-2 col-md-4 col-4" style="text-decoration:none">
                        <div class="state activeState" onclick="changeStatus(this)">
                            <div class="state-sub-div">
                                <img src="~/images/active.svg" id="activeState" class="icon-size" />
                                <img src="~/images/active_active.png" id="activeState-active" class="icon-size hide" />
                                <span class="title-sub-div">ACTIVE</span>
                            </div>
                            <span class="no">26</span>
                        </div>
                        <img src="~/images/caret-down-fill2.svg" id="activeState-img" class="caret hidden" />
                    </a>
                    <a class="col-lg-2 col-md-4 col-4" style="text-decoration:none">
                        <div class="state concludeState" onclick="changeStatus(this)">
                            <div class="state-sub-div">
                                <img src="~/images/conclude.svg" id="concludeState" class="icon-size" />
                                <img src="~/images/conclude_active.png" id="concludeState-active"
                                     class="icon-size hide" />
                                <span class="title-sub-div">CONCLUDE</span>
                            </div>
                            <span class="no">1078</span>
                        </div>
                        <img src="~/images/caret-down-fill3.svg" id="concludeState-img" class="caret hidden" />
                    </a>
                    <a class="col-lg-2 col-md-4 col-4" style="text-decoration:none">
                        <div class="state tocloseState" onclick="changeStatus(this)">
                            <div class="state-sub-div">
                                <img src="~/images/toclose.svg" id="tocloseState" class="icon-size" />
                                <img src="~/images/toclose_active.png" id="tocloseState-active"
                                     class="icon-size hide" />
                                <span class="title-sub-div">TO CLOSE</span>
                            </div>
                            <span class="no">519</span>
                        </div>
                        <img src="~/images/caret-down-fill4.svg" id="tocloseState-img" class="caret hidden" />
                    </a>
                    <a class="col-lg-2 col-md-4 col-4" style="text-decoration:none">
                        <div class="state unpaidState" onclick="changeStatus(this)">
                            <div class="state-sub-div">
                                <img src="~/images/unpaid.svg" id="unpaidState" class="icon-size" />
                                <img src="~/images/unpaid_active.png" id="unpaidState-active" class="icon-size hide" />
                                <span class="title-sub-div">UNPAID</span>
                            </div>
                            <span class="no">16</span>
                        </div>
                        <img src="~/images/caret-down-fill5.svg" id="unpaidState-img" class="caret hidden" />
                    </a>
                </div>
                <div class="dashboard-sub-div">
                    <h4 class="patient-title">Patients <span id="status-text">(New)</span></h4>
                    <div style="display: flex;">
                        <button class="dashboard-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white"
                                 class="bi bi-send dashboard-sub-div-icon" viewBox="0 0 16 16">
                                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                            </svg><span class="dashboard-button-text">Send Link</span>
                        </button>

                        <button class="dashboard-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white"
                                 class="bi bi-journal-medical dashboard-sub-div-icon" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8 4a.5.5 0 0 1 .5.5v.634l.549-.317a.5.5 0 1 1 .5.866L9 6l.549.317a.5.5 0 1 1-.5.866L8.5 6.866V7.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L7 6l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V4.5A.5.5 0 0 1 8 4M5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
                                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
                            </svg><span class="dashboard-button-text">Create Request</span>
                        </button>

                        <button class="dashboard-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                                 class="bi bi-reply-mirrored" viewBox="0 0 16 16">
                                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.7 8.7 0 0 0-1.921-.306 7 7 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254l-.042-.028a.147.147 0 0 1 0-.252l.042-.028zM7.8 10.386q.103 0 .223.006c.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96z" />
                            </svg><span class="dashboard-button-text">Export</span>
                        </button>

                        <button class="dashboard-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                                 class="bi bi-reply-all-mirrored" viewBox="0 0 16 16">
                                <path d="M8.098 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.7 8.7 0 0 0-1.921-.306 7 7 0 0 0-.798.008h-.013l-.005.001h-.001L8.8 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L4.114 8.254l-.042-.028a.147.147 0 0 1 0-.252l.042-.028zM9.3 10.386q.102 0 .223.006c.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96z" />
                                <path d="M5.232 4.293a.5.5 0 0 0-.7-.106L.54 7.127a1.147 1.147 0 0 0 0 1.946l3.994 2.94a.5.5 0 1 0 .593-.805L1.114 8.254l-.042-.028a.147.147 0 0 1 0-.252l.042-.028 4.012-2.954a.5.5 0 0 0 .106-.699" />
                            </svg><span class="dashboard-button-text">Export All</span>
                        </button>

                        <button class="dashboard-button" style="margin-right: 0px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white"
                                 class="bi bi-person-plus dashboard-sub-div-icon" viewBox="0 0 16 16">
                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                                <path fill-rule="evenodd"
                                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
                            </svg><span class="dashboard-button-text">Request DTY Support</span>
                        </button>
                    </div>
                </div>
                <div class="dashboard-sub-div-2">
                    <div class="dashboard-sub-div-2-sub">
                        <div class="search-div">
                            <div class="search-div-sub">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                                     class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                                <input placeholder="Search Patients" class="searchPatientInput" type="text" />
                            </div>
                            <div class="search-div-sub-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                                     class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                                <input placeholder="All Regions" type="text" class="searchPatientInput" />
                            </div>
                        </div>
                        <div class="categories-div">
                            <button class="categories-div-all-button">All</button>
                            <div class="categories-div-sub">
                                <div class="categories-div-sub-sub" style="background-color: #10bb0d;"></div>
                                <span style="color:gray" class="categories-div-sub-text">Patient</span>
                            </div>
                            <div class="categories-div-sub">
                                <div class="categories-div-sub-sub" style="background-color: rgb(238, 196, 11);"></div>
                                <span style="color:gray" class="categories-div-sub-text">Family/Friend</span>
                            </div>
                            <div class="categories-div-sub">
                                <div class="categories-div-sub-sub" style="background-color: rgb(236, 91, 116);"></div>
                                <span style="color:gray" class="categories-div-sub-text">Business</span>
                            </div>
                            <div class="categories-div-sub">
                                <div class="categories-div-sub-sub" style="background-color: rgb(3, 87, 241);"></div>
                                <span style="color:gray" class="categories-div-sub-text">Concierge</span>
                            </div>
                            <!-- <div class="categories-div-sub">
                                <div class="categories-div-sub-sub" style="background-color: rgb(207, 18, 207);"></div>
                                <span style="color:gray" class="categories-div-sub-text">VIP</span>
                            </div> -->
                        </div>
                    </div>
                    <div class="table-responsive" style="margin-top: 20px;width: 100%;">
                        <table id="dtBasicExample" class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="table-header">
                                        Name
                                    </th>
                                    <th scope="col" class="table-header">
                                        Date of Birth
                                    </th>
                                    <th scope="col" class="table-header">
                                        Requestor
                                    </th>
                                    <th scope="col" class="table-header">
                                        Requestor Date
                                    </th>
                                    <th scope="col" class="table-header">
                                        Phone
                                    </th>
                                    <th scope="col" class="table-header">
                                        Address
                                    </th>
                                    <th scope="col" class="table-header">
                                        Notes
                                    </th>
                                    <!-- <th scope="col" class="table-header">
                                        Chat With
                                    </th> -->
                                    <th scope="col" class="table-header">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="name-td">
                                            <span class="td-data">test, test</span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 style="padding:5px;border: 1px solid white;border-radius: 5px;margin: auto 5px;"
                                                 width="30" height="30" fill="white" class="bi bi-envelope"
                                                 viewBox="0 0 16 16">
                                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                                            </svg>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="others-td">
                                            <span class="td-data">Sep 4, 2002</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="others-td">
                                            <span class="td-data">Patient test,test</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="others-td">
                                            <span class="td-data">Sep 4, 2002 336h 2m</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="phone-td">
                                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 5px;"
                                                 width="16" height="16" fill="white" class="bi bi-telephone"
                                                 viewBox="0 0 16 16">
                                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                            </svg>
                                            <span class="td-data">7698545581</span>
                                        </div>
                                        <span class="td-data">(Patient)</span>
                                    </td>
                                    <td>
                                        <div class="addess-td"><span class="td-data">Room location: 101</span></div>
                                    </td>
                                    <td>
                                        <div class="others-td">
                                            <span class="td-data">-</span>
                                        </div>
                                    </td>
                                    <!-- <td>
                                        <div class="chat-td">
                                            <span class="chat-td-data phone-td">Provider</span>
                                        </div>
                                    </td> -->
                                    <td>
                                        <div class="chat-td">
                                            <span class="chat-td-data phone-td">Actions</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="name-td">
                                            <span class="td-data">test, test</span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 style="padding:5px;border: 1px solid white;border-radius: 5px;margin: auto 5px;"
                                                 width="30" height="30" fill="white" class="bi bi-envelope"
                                                 viewBox="0 0 16 16">
                                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                                            </svg>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="others-td">
                                            <span class="td-data">Sep 4, 2002</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="others-td">
                                            <span class="td-data">Patient test,test</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="others-td">
                                            <span class="td-data">Sep 4, 2002 336h 2m</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="phone-td">
                                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 5px;"
                                                 width="16" height="16" fill="white" class="bi bi-telephone"
                                                 viewBox="0 0 16 16">
                                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                            </svg>
                                            <span class="td-data">7698545581</span>
                                        </div>
                                        <span class="td-data">(Patient)</span>
                                    </td>
                                    <td>
                                        <div class="addess-td"><span class="td-data">Room location: 101</span></div>
                                    </td>
                                    <td>
                                        <div class="others-td">
                                            <span class="td-data">-</span>
                                        </div>
                                    </td>
                                    <!-- <td>
                                        <div  class="others-td">
                                            <span class="td-data">Provider</span>
                                        </div>
                                    </td> -->
                                    <td>
                                        <div class="others-td">
                                            <span class="td-data">Actions</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="name-td">
                                            <span class="td-data">test, test</span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 style="padding:5px;border: 1px solid white;border-radius: 5px;margin: auto 5px;"
                                                 width="30" height="30" fill="white" class="bi bi-envelope"
                                                 viewBox="0 0 16 16">
                                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                                            </svg>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="others-td">
                                            <span class="td-data">Sep 4, 2002</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="others-td">
                                            <span class="td-data">Patient test,test</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="others-td">
                                            <span class="td-data">Sep 4, 2002 336h 2m</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="phone-td">
                                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 5px;"
                                                 width="16" height="16" fill="white" class="bi bi-telephone"
                                                 viewBox="0 0 16 16">
                                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                            </svg>
                                            <span class="td-data">7698545581</span>
                                        </div>
                                        <span class="td-data">(Patient)</span>
                                    </td>
                                    <td>
                                        <div class="addess-td"><span class="td-data">Room location: 101</span></div>
                                    </td>
                                    <td>
                                        <div class="others-td">
                                            <span class="td-data">-</span>
                                        </div>
                                    </td>
                                    <!-- <td>
                                        <div  class="others-td">
                                            <span class="td-data">Provider</span>
                                        </div>
                                    </td> -->
                                    <td>
                                        <div class="others-td">
                                            <span class="td-data">Actions</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="table-responsive" style="margin-top: 20px;width: 100%;">
                            <div id="AdminDashboardPartialView"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main-sub-div-2" class="tabcontent" style="display: none;">
                <!-- <span onclick="this.parentElement.style.display='none'" class="topright">&times</span> -->
                <!-- <h3>Paris</h3> -->
                <p>
                    Tab 2: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>
    </div>
    <script>
        //data table initiate
        $(document).ready(function () {
            $("#dtBasicExample").DataTable();
        });
        let sidebarOpen = false;
        function hamburger() {
            if (!sidebarOpen) {
                document.getElementById('sidebar').style.display = "flex";
                document.getElementById('main-div').style.opacity = "0.5";
                document.getElementById('main-div').style.backgroundColor = "rgba(0, 0, 0, 0.1)";
                // document.getElementById("defaultOpen2").click();
                sidebarOpen = true;
            } else {
                console.log('hii');
                document.getElementById('sidebar').style.display = "none";
                document.getElementById('main-div').style.opacity = "1";
                document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
                sidebarOpen = false;
            }
        }

        function openTab(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
            document.getElementById('sidebar').style.display = "none";
            document.getElementById('main-div').style.opacity = "1";
            document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
            sidebarOpen = false;
        }
        document.getElementById("defaultOpen").click();
        const changeStatus = (element) => {
            const states = document.getElementsByClassName("state");
            const current_state = element.classList[1];
            for (let i = 0; i < states.length; ++i) {
                if (states[i].classList.length == 3 && states[i].classList[1] == current_state) {
                    break;
                }
                else if (states[i].classList[1] == current_state) {
                    states[i].classList.add(`${states[i].classList[1]}-active`);
                    document.getElementById(`${states[i].classList[1]}-active`).classList.remove('hide');
                    document.getElementById(`${states[i].classList[1]}`).classList.add('hide');
                    document.getElementById(`${states[i].classList[1]}-img`).classList.remove('hidden');
                }
                else if (states[i].classList.length == 3) {
                    states[i].classList.remove(`${states[i].classList[1]}-active`);
                    document.getElementById(`${states[i].classList[1]}-active`).classList.add('hide');
                    document.getElementById(`${states[i].classList[1]}`).classList.remove('hide');
                    document.getElementById(`${states[i].classList[1]}-img`).classList.add('hidden');
                }
            }
            let name = current_state.split("-").length == 1 ? current_state.split("-")[0] : current_state.split("-")[1];
            let finalName = name.split("State")[0];
            if (finalName == "toclose") {
                document.getElementById("status-text").innerHTML = "(To Close)";
            } else {
                document.getElementById("status-text").innerHTML = `(${finalName.charAt(0).toUpperCase() + finalName.slice(1)})`;
            }
            $.ajax({
                url: `/Admin/${finalname.charAt(0).toUpperCase() + finalname.slice(1)}`,
                type: 'POST',
                dataType: 'html',
                // Pass your data here
                success: function (response) {
                    $("#AdminDashboardPartialView").html(response)
                },
                error: function () {
                    alert('An error occurred.');
                }
            });
        }
        function oncheck() {
            var check = document.getElementById('checkall').checked;
            if (check) {
                var len = document.getElementsByClassName('checkboxes');
                for (var i = 0; i < len.length; i++) {
                    len[i].checked = true;
                }
            } else {
                var len = document.getElementsByClassName('checkboxes');
                for (var i = 0; i < len.length; i++) {
                    len[i].checked = false;
                }
            }
            console.log(check);
        }

        function mePressed() {
            document.getElementById('someone-else-button').style.backgroundColor = "white";
            document.getElementById('someone-else-button').style.color = "#00ccff";
            document.getElementById('me-button').style.backgroundColor = "#00ccff";
            document.getElementById('me-button').style.color = "white";
            document.getElementById('continue-button').href = "./PatientForm.html";
        }
        function someoneElsePressed() {
            document.getElementById('someone-else-button').style.backgroundColor = "#00ccff";
            document.getElementById('someone-else-button').style.color = "white";
            document.getElementById('me-button').style.backgroundColor = "white";
            document.getElementById('me-button').style.color = "#00ccff";
            document.getElementById('continue-button').href = "./PatientFormRelative.html";
        }

        window.onload = function checkingTheme() {
            try {
                let themeCheck = localStorage.getItem('theme');
                if (themeCheck == null || themeCheck == 'light') {
                    document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
                    // document.getElementById('main-sub-div').style.backgroundColor = "white";
                    document.getElementById('body').style.backgroundColor = "#f5f5f5";
                    document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
                    document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
                } else {
                    document.getElementById('main-div').style.backgroundColor = "black";
                    // document.getElementById('main-sub-div').style.backgroundColor = "black";
                    document.getElementById('body').style.backgroundColor = "black";
                    document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
                    document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
                }
            } catch (error) {
                console.log('no themes decided yet');
            }
        }
        function changeTheme() {
            let theme = localStorage.getItem('theme');
            if (theme == null || theme == 'light') {
                localStorage.setItem('theme', 'dark');
                document.getElementById('main-div').style.backgroundColor = "black";
                // document.getElementById('main-sub-div').style.backgroundColor = "black";
                document.getElementById('body').style.backgroundColor = "black";
                document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
            } else if (theme == 'dark') {
                localStorage.setItem('theme', 'light');
                document.getElementById('main-div').style.backgroundColor = "#f5f5f5";
                // document.getElementById('main-sub-div').style.backgroundColor = "#f5f5f5";
                document.getElementById('body').style.backgroundColor = "#f5f5f5";
                document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
            }
        }
    </script>

</div>

</html>