@using HalloDoc.DataLayer.ViewModels.AdminViewModels
@model CreateRequestViewModel;
@{
    ViewData["Title"] = "Create Request";
}
@section Styles {
    <link href="~/css/viewcase.css" rel="stylesheet" type="text/css" />
    <link href="~/css/AdminDashboardStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/createRequest.css" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
<div>
    <partial name="Toast" />
    <partial name="AdminDashboardHeader" model="@Model.adminNavbarViewModel" />
    <hr class="mb-0 mt-0 d-none d-md-block horizontal-line">
    <partial name="AdminDashboardNavbar" />
    <div class="maindiv container-fluid d-flex flex-column justify-content-center px-5" style="background-color:#f5f5f5;">
        <div>
            <div class="firstdiv d-flex justify-content-between align-items-center">
                <h3>Submit Information</h3>
                <div class="btn cancelButton mb-3 mt-3" style="background-color:transparent;">
                    <a class="textdeconone" asp-controller="AdminDashboard" asp-action="AdminDashboard">
                        <span class="cancelButtonText">&lt Back</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="content shadow p-3 mb-3" style="background-color:white;">
            <form asp-action="CreateRequest" asp-controller="AdminDashboard" method="post">

                <input type="hidden" asp-for="@Model.adminNavbarViewModel.AdminName" />
                <input type="hidden" asp-for="@Model.adminNavbarViewModel.Tab" />

                <div class="h5 mb-3">Patient</div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput1" placeholder="First Name" asp-for="FirstName">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                            <label for="floatingInput">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput2" placeholder="Last Name" asp-for="LastName">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                            <label for="floatingInput2">Last Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="tel" class="form-control phone" id="phone" asp-for="PhoneNumber" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="email" placeholder="Email" class="form-control" id="floatingInput3" asp-for="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <label for="floatingInput3">Email</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-4">
                            <input type="date" class="form-control" id="dob" asp-for="DOB">
                            <label for="dob">Date of Birth</label>
                            <span asp-validation-for="DOB" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <header class="h5 mb-3">Location</header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput6" placeholder="Street" asp-for="Street">
                            <label for="floatingInput6">Street</label>
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput7" placeholder="City" asp-for="City">
                            <label for="floatingInput7">City</label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput8" placeholder="State" asp-for="State">
                            <label for="floatingInput8">State</label>
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="floatingInput9" placeholder="Zip Code" asp-for="ZipCode">
                            <label for="floatingInput9">Zip Code</label>
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-4">
                            <input type="name" class="form-control" id="floatingInput10"
                                   placeholder="Room#/Suite(Optional)" asp-for="Room">
                            <label for="floatingInput10">Room#/ Suite(Optional)</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="map-verify-btn">
                            <a asp-action="VerifyState" asp-controller="AdminDashboard" asp-route-requestId="@Model.RequestId" class="back-navigation-link" style="position:relative;padding-right:5px !important;background-color:white;height:54px!important;width: 76px;display: flex;justify-content: center;">
                                <div class="back-navigation">
                                    <span class="btn-text">Verify</span>
                                </div>
                            </a>
                            <a id="map-button" class="back-navigation-link" style="position:relative;margin-left:10px;padding-right:10px;height:54px!important;width:84px;">
                                <div class="back-navigation">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-geo-alt back-icon" viewBox="0 0 16 16">
                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                    </svg>
                                    <span class="btn-text">Map</span>
                                </div>
                            </a>
                        </div>
                        @* <div class="form-floating mb-3 d-flex align-items-center">
                        <div>
                        <button type="submit" class="cancelButton form-floating mb-2 d-flex justify-content-center align-items-center textdeconone me-3" id="cancel-btn" style="height:54px!important;">
                        <span class="cancelButtonText">Verify</span>
                        </button>
                        </div>
                        <div>
                        <a class="map cancelButton textdeconone form-floating d-flex justify-content-center align-items-center" id="map-button" style="height:54px!important;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0bb6d0" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                        </svg>
                        <span class="cancelButtonText">Map</span>
                        </a>
                        </div>
                        </div> *@
                    </div>
                </div>

                <div id="map">
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <h5 style="text-align: center;">Your Location</h5>
                            <div class="gmap_canvas" style="height:100%;width:100%">
                                <iframe id="gmap_canvas" style="height:95%;width:100%;border-radius:15px;" src="" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                                </iframe>
                            </div>
                            <span class="close mb-3">Ok</span>
                        </div>
                    </div>
                </div>

                <header class="h5 mb-3">Notes</header>

                <div class="form-floating mb-3" style="width: 100%;margin-top: 20px;">
                    <textarea type="text" placeholder="Username" class="form-control"
                              style="height: 135px !important;" asp-for="AdminNotes"></textarea>
                    <label for="username-input" class="labels">Admin Notes(Optional)</label>
                </div>

                <div class="d-flex justify-content-end align-items-center">
                    <div>
                        <button type="submit" class="btn saveButton me-2 mb-3" style="width:85px!important;">
                            <a class="textdeconone" asp-controller="AdminDashboard" asp-action="ViewNotes">
                                <span class="saveButtonText">Save</span>
                            </a>
                        </button>
                        <button class="btn cancelButton mb-3" style="width:100px!important;">
                            <span class="cancelButtonText">Cancel</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        //date validation
        const inputDate = document.getElementById('dob');
        const today = new Date().toISOString().split('T')[0];
        inputDate.setAttribute('max', today);
        //for creating countrywise phone format
        const phoneInputField = document.getElementsByClassName("phone");
        for (let i = 0; i < phoneInputField.length; ++i) {
            const phoneInput = window.intlTelInput(phoneInputField[i], {
                utilsScript:
                    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
            });
        }
        //map
        var modal = document.getElementById("myModal");

        var btn = document.getElementById("map-button");
        var spany = document.getElementsByClassName("close")[0];
        var map;
        btn.onclick = function () {

            var Street = document.getElementById('street').value;
            var City = document.getElementById('city').value;
            var State = document.getElementById('state').value;
            var ZipCode = document.getElementById('zipcode').value;
            var address = Street + City + State + ZipCode;
            var address1 = `https://maps.google.com/maps?q= + ${Street} + ${City} + ${State} + ${ZipCode} + &t=&z=13&ie=UTF8&iwloc=&output=embed`;
            console.log(address1);
            document.getElementById('gmap_canvas').src = address1;
            modal.style.display = "block";
        }
        spany.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</div>