@using HalloDoc.DataLayer.ViewModels;
@model ProviderViewModel;
@using static HalloDoc.EnumStatus;
@{
    ViewData["Title"] = "Provider Menu";
}
@section Styles {
    <link href="~/css/accountAccess.css" rel="stylesheet" type="text/css" />
    <link href="~/css/AdminDashboardStyle.css" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<div id="body">
    <div class="shadow header-nav-container">
        <partial name="Toast" />
        <partial name="AdminDashboardHeader" model="@Model.adminNavbarViewModel" />
    </div>
    <div id="main-div" class="tabcontent">
        <div class="main-sub-div">
            <div class="py-3 topheader">
                <h3>Provider Information</h3>
            </div>
            <div class="p-2 bg-white">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="search-div">
                        <div class="search-div-sub">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                            <select class="custom-select-5" style="border:none;background-color:white;width:100%;" id="region" onchange="filter(1,10)">
                                <option value="-1" style="color:gray !important;"><span style="color:gray;">All Region</span></option>
                                @foreach (var item in Model.Regions)
                                {
                                    <option value="@item.RegionId" style="color:gray !important;"><span style="color:gray;">@item.Name</span></option>
                                }
                            </select>
                        </div>
                    </div>
                    <a asp-action="CreatePhysician" asp-controller="AdminDashboard" class="saveButton textdeconone" style="width: 192px;height: 44px;">
                        <span class="saveButtonText">Create Provider Account</span>
                    </a>
                </div>


                <div id="ProviderInformationData"></div>

            </div>
        </div>
    </div>
    <script>
        console.log("outside")
        $(document).ready(function () {
        console.log("inside")
            
            $.ajax({
                url: '/AdminDashboard/FilterProviderInformation',
                type: 'POST',
                dataType: 'html',
                // Pass your data here
                success: function (response) {
                    $("#ProviderInformationData").html(response)
                },
                error: function () {
                    alert('An error occurred.');
                }
                            // console.log("in 1st")
            });
        });
        // window.onload = () => {
        //     debugger

        // }
        function filter(page, pageSize) {
            var region = document.getElementById('region').value;
            // var region = $('#region').val();

            $.ajax({
                url: '/AdminDashboard/FilterProviderInformation',
                type: 'POST',
                dataType: 'html',
                data: { region: region, page: page, pageSize: pageSize },
                // Pass your data here
                success: function (response) {
                    //console.log(response);
                    $("#ProviderInformationData").html(response);
                    // document.getElementById('ProviderInformationData').style.display = 'block';
                    // console.log("in 2nd")
                },
                error: function () {
                    alert('An error occurred.');
                }
            });
        }
        //stop notification
        $(document).ready(function () {
            $("#ProviderInformationData").on("change", "[id^='stopNotification-']", function () {
                var physicianId = $(this).attr("id").split("-")[1];
                var stopNotification = $(this).prop("checked");

                $.ajax({
                    url: `/AdminDashboard/UpdateStopNotification`,
                    type: 'POST',
                    dataType: 'html',
                    data: { id: physicianId, stopNotification: stopNotification },
                    success: function (response) {
                        if (response) {
                            alert("The status has been updated.");
                        } else {
                            alert("An error1 occurred.");
                        }
                    },
                    error: function () {
                        alert("An error2 occurred.");
                    }
                });
            });
        });
    </script>
</div>