@using HalloDoc.DataLayer.ViewModels;
@model UserAccessViewModel;
@using static HalloDoc.EnumStatus;
@{
    ViewData["Title"] = "User Access";
}
@section Styles {
    <link href="~/css/searchRecords.css" rel="stylesheet" type="text/css" />
    <link href="~/css/AdminDashboardStyle.css" rel="stylesheet" type="text/css" />
}
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<div id="body">
    <div class="shadow header-nav-container">
        <partial name="Toast" />
        <partial name="AdminDashboardHeader" model="@Model.adminNavbarViewModel" />
    </div>
    <div id="main-div" class="tabcontent main-profile-div">
        <div class="main-sub-div">
            <div class="py-3 topheader">
                <h3>User Access</h3>
            </div>
        </div>
        <div class="p-2 bg-white">

            <div class="row p-2">
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <textarea type="text" class="form-control custom-input"
                                  style="resize:none;" id="AccountType" placeholder="Account Type" asp-for="AccountType"></textarea>
                        <label for="AccountType">AccountType</label>
                        @* <span asp-validation-for="FirstName" class="text-danger"></span> *@
                    </div>
                </div>
            </div>
            @if (Model.Admins.Count != 0 || Model.Physicians.Count != 0)
            {
                <div class="table-responsive" style="margin-top: 20px">
                    <div id="UserAccessTablePartialView"></div>
                </div>
            }
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: `/AdminDashboard/UserAccessShow`,
                type: 'POST',
                dataType: 'html',
                // Pass your data here
                success: function (response) {
                    $("#UserAccessTablePartialView").html(response)
                },
                error: function () {
                    alert('An error occurred.');
                }
            });
        });
        function filter(page, pageSize) {
            var firstname = document.getElementById('RoleType').value;

            $.ajax({
                url: `/AdminDashboard/UserAccessShow`,
                type: 'POST',
                dataType: 'html',
                data: { accounttype: accounttype, page: page, pageSize: pageSize },
                // Pass your data here
                success: function (response) {
                    //console.log(response);
                    $("#UserAccessTablePartialView").html(response);
                    //document.getElementById('loader2').style.display = 'none';
                    //document.getElementById('UserAccessTablePartialView').style.display = 'block';
                },
                error: function () {
                    alert('An error occurred.');
                }
            });
        }
    </script>
</div> 