body{
    width: 100%;
}

.myClass{
    background-color: #fafafa;
    width: 100%;
    /* background-color: #fafafa 0% 0% no-repeat padding-box; */
}

.navbar {
    display: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;  
    width:100%;
}

.c1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar {
    margin-left: 15px;
}

.c2 {
    display: flex;
    justify-self: center;
    align-items: center;
}

.header-logo {
    margin-left: 15px;
}

.c4 {
    display: flex;
    justify-content: left;
    align-items: center;
}

.search-icon {

    width: 30px;
    height: 30px;
}

.c7 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.c8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.i3 {
    flex-direction: row;
    display: flex;
}

.sidebar {
    /* width: 150px; */
    min-height: 400px;
    flex-basis: 15%;
    background-color: #FFFFFF;
    /* display: none; */
}

.d1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    height: 43px;
    background: #FFF3F4 0% 0% no-repeat padding-box;
    border-radius: 5px;
    margin-left: 25px;
}
.dashlink{
    text-decoration: none;
    color: #3E3E3E;
}
.dashactive {
    width: 20px;
    height: 20px;
    margin-left: 25px;
    max-width: 100%;
}

.d2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 183px;
    height: 43px;
    margin-left: 25px;
}

.analysis {
    width: 20px;
    height: 20px;
    margin-left: 25px;
    max-width: 100%;
}

.d3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 183px;
    height: 43px;
    margin-left: 25px;
}

.inbox {
    width: 20px;
    height: 20px;
    margin-left: 25px;
    max-width: 100%;
}

.d4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 183px;
    height: 43px;
    margin-left: 25px;
}

.history {
    width: 20px;
    height: 20px;
    margin-left: 25px;
    max-width: 100%;
}

.d5 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 183px;
    height: 43px;
    margin-left: 25px;
}

.user {
    width: 20px;
    height: 20px;
    margin-left: 25px;
    max-width: 100%;
}

.d6 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 183px;
    height: 43px;
    margin-left: 25px;
}

.maintenance {
    width: 20px;
    height: 20px;
    margin-left: 25px;
    max-width: 100%;
}

.d7 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 183px;
    height: 43px;
    margin-left: 25px;
}

.setting {
    width: 20px;
    height: 20px;
    margin-left: 25px;
    max-width: 100%;
}

.dash {
    width: 100%;
    margin: 5% 0px 0px 11%;
    height: 100vh;
    margin-top: 0%;
    margin-left: 0%;
    flex-basis: 80%;
    padding-left: 50px;
    padding-right: 50px;
}

.dash1 {
    flex-direction: row;
    display: flex;
    /* background-color: red; */
}

.col {

    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-right: 24px;
    margin-top: 15px!important;
}

.imgstar {
    width: 25px;
    height: 25px;
    max-width: 100%;
}

.newpro {
    display: flex;
    flex-direction: column;
}

/* .col2 {

    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-right: 24px;
} */

.imgap {
    width: 25px;
    height: 25px;
    max-width: 100%;
}

.addpro {
    display: flex;
    flex-direction: column;
}

/* .col3 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-right: 24px;

} */

.imgtp {
    width: 25px;
    height: 25px;
    max-width: 100%;
}

.totpro {
    display: flex;
    flex-direction: column;
}

/* .col4 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-right: 24px;

} */

.imgdf {
    width: 25px;
    height: 25px;
    max-width: 100%;
}

.dolfil {
    display: flex;
    flex-direction: column;
}

/* .col5 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items:flex-start;

} */

.imgmb {
    width: 25px;
    height: 25px;
    max-width: 100%;
}

.monbag {
    display: flex;
    flex-direction: column;
}

.total-product {
    width: 50px;
    height: 50px;
    max-width: 100%
}

.dash2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.datagraph {
    flex: 5;
    /* height: 365px; */
    background-color: #ffffff;
    margin-bottom: 5px;
    width: 100%;
}
.divdatagraph{
    /* width: 100%; */
}
.pie {
    flex: 4;
    margin: 30px;
    background-color: #ffffff;
}

.piech {
    /* display: flex; */
    text-align: center;
    width: 100%;
}
.piechart{
    justify-content: center;
}

.e1{
    /* display: flex; */
    /* justify-content: flex-start; */
    align-items: center;
}

.radio1{
    width: 20px;
    height: 20px;
    
    max-width: 100%;
}
.radio2{
    width: 20px;
    height: 20px;
    /* margin-left: 25px; */
    max-width: 100%;
}
.e2{
    /* display: flex; */
    /* justify-content: flex-start; */
    align-items: center;
}
.radio3{
    width: 20px;
    height: 20px;
    margin-left: 25px;
    max-width: 100%;
}
.radio4{
    width: 20px;
    height: 20px;
    margin-left: 25px;
    max-width: 100%;
}

.dash3{
    margin-top: 30px;
}
.inv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.viewall{
    color: red  ;
}
.heading {
    color: #ADADAD;
    
}


.paid {
    background: #EBFFEF 0% 0% no-repeat padding-box;
    border-radius: 5px;
}